In [167]:
! pip install flask_sqlalchemy

Collecting flask_sqlalchemy
  Using cached https://files.pythonhosted.org/packages/08/ca/582442cad71504a1514a2f053006c8bb128844133d6076a4df17117545fa/Flask_SQLAlchemy-2.4.0-py2.py3-none-any.whl
Requirement already satisfied: SQLAlchemy>=0.8.0 in /anaconda3/lib/python3.7/site-packages (from flask_sqlalchemy) (1.2.11)
Requirement already satisfied: Flask>=0.10 in /anaconda3/lib/python3.7/site-packages (from flask_sqlalchemy) (1.0.2)
Requirement already satisfied: click>=5.1 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (6.7)
Requirement already satisfied: itsdangerous>=0.24 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (0.24)
Requirement already satisfied: Werkzeug>=0.14 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (0.14.1)
Requirement already satisfied: Jinja2>=2.10 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in /anaconda3/lib/python3.7/site-packages (from Jinja2>=2.10->Flask>=0.10->flask_sqlalchemy) (1.0)
Installing collected packages: flask-sqlalchemy
Successfully installed flask-sqlalchemy-2.4.0
You are using pip version 19.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [168]:
import os

import pandas as pd
import numpy as np
import pymysql

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func, distinct

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

pymysql.install_as_MySQLdb()

app = Flask(__name__)



# # reflect an existing database into a new model
# Base = automap_base()
# # reflect the tables
# Base.prepare(engine, reflect=True)
#
# # print table names
# print(engine.table_names())
# # Save reference to the table
# Hale = Base.classes.hale


app.config["SQLALCHEMY_DATABASE_URI"] = "mysql://rl91qzpzgty8oaf1:evamhxfd7l42mgso@y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/v21ogkg4wvsne316"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Hale = Base.classes.hale
LexByCountry = Base.classes.lexbycountry
#
#

/anaconda3/lib/python3.7/site-packages/flask_sqlalchemy/__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [169]:
stmt = db.session.query(LexByCountry).statement
df = pd.read_sql_query(stmt, db.session.bind)
df

,Country,Year,LEX at birth Both sexes,LEX at birth Male,LEX at birth Female,LEX at age 60 Both sexes,LEX at age 60 Male,LEX at age 60 Female,HALE at birth Both sexes,HALE at birth Male,HALE at birth Female,HALE at age 60 Both sexes,HALE at age 60 Male,HALE at age 60 Female
0,Afghanistan,0000-00-00 00:00:00,62.7,61.0,64.5,16.3,15.5,17.1,53.0,52.1,54.1,11.3,10.9,11.7
1,Afghanistan,2000-01-01 00:00:00,55.9,54.6,57.3,15.1,14.5,15.9,46.9,46.2,47.7,10.3,10.1,10.6
2,Afghanistan,2001-01-01 00:00:00,56.5,55.3,57.9,15.2,14.5,15.9,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,2002-01-01 00:00:00,57.4,56.5,58.5,15.2,14.5,16.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,2003-01-01 00:00:00,58.0,56.9,59.1,15.4,14.7,16.1,0.0,0.0,0.0,0.0,0.0,0.0
5,Afghanistan,2004-01-01 00:00:00,58.4,57.4,59.6,15.4,14.7,16.2,0.0,0.0,0.0,0.0,0.0,0.0
6,Afghanistan,2005-01-01 00:00:00,58.9,57.8,60.1,15.5,14.8,16.3,49.6,49.1,50.2,10.7,10.4,11.0
7,Afghanistan,2006-01-01 00:00:00,59.2,58.0,60.5,15.6,14.9,16.4,0.0,0.0,0.0,0.0,0.0,0.0
8,Afghanistan,2007-01-01 00:00:00,59.6,58.4,61.0,15.7,15.0,16.5,0.0,0.0,0.0,0.0,0.0,0.0
9,Afghanistan,2008-01-01 00:00:00,60.2,59.0,61.6,15.8,15.0,16.6,0.0,0.0,0.0,0.0,0.0,0.0
10,Afghanistan,2009-01-01 00:00:00,60.7,59.5,62.1,15.9,15.1,16.6,0.0,0.0,0.0,0.0,0.0,0.0
11,Afghanistan,2010-01-01 00:00:00,61.2,59.9,62.5,15.9,15.2,16.7,51.6,50.9,52.3,11.0,10.6,11.3
12,Afghanistan,2011-01-01 00:00:00,61.7,60.5,63.1,16.0,15.3,16.8,0.0,0.0,0.0,0.0,0.0,0.0
13,Afghanistan,2012-01-01 00:00:00,62.2,60.9,63.6,16.1,15.3,16.8,0.0,0.0,0.0,0.0,0.0,0.0
14,Afghanistan,2013-01-01 00:00:00,62.7,61.5,64.1,16.2,15.4,16.9,0.0,0.0,0.0,0.0,0.0,0.0
15,Afghanistan,2014-01-01 00:00:00,63.0,61.7,64.4,16.2,15.4,17.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Afghanistan,2015-01-01 00:00:00,63.2,61.8,64.7,16.3,15.5,17.1,53.2,52.6,54.1,11.2,10.8,11.6
17,Afghanistan,2016-01-01 00:00:00,62.7,61.0,64.5,16.3,15.5,17.1,53.0,52.1,54.1,11.3,10.9,11.7
18,Albania,0000-00-00 00:00:00,76.4,74.3,78.6,20.8,19.4,22.3,68.1,66.7,69.6,16.3,15.3,17.4
19,Albania,2000-01-01 00:00:00,73.1,70.4,76.0,18.9,17.3,20.8,64.9,62.9,67.2,14.7,13.5,16.1
20,Albania,2001-01-01 00:00:00,74.0,71.6,76.7,19.6,18.1,21.3,0.0,0.0,0.0,0.0,0.0,0.0
21,Albania,2002-01-01 00:00:00,73.5,71.4,75.9,19.1,17.7,20.5,0.0,0.0,0.0,0.0,0.0,0.0
22,Albania,2003-01-01 00:00:00,72.9,70.8,75.2,18.4,17.1,19.8,0.0,0.0,0.0,0.0,0.0,0.0
23,Albania,2004-01-01 00:00:00,73.3,71.0,75.8,18.6,17.2,20.1,0.0,0.0,0.0,0.0,0.0,0.0
24,Albania,2005-01-01 00:00:00,73.5,71.6,75.6,18.9,17.7,20.4,65.4,64.0,67.0,14.7,13.8,15.8
25,Albania,2006-01-01 00:00:00,73.9,71.8,76.2,19.0,17.8,20.3,0.0,0.0,0.0,0.0,0.0,0.0
26,Albania,2007-01-01 00:00:00,74.1,71.9,76.4,19.2,17.9,20.5,0.0,0.0,0.0,0.0,0.0,0.0
27,Albania,2008-01-01 00:00:00,74.2,72.1,76.5,19.4,18.1,20.7,0.0,0.0,0.0,0.0,0.0,0.0
28,Albania,2009-01-01 00:00:00,74.4,72.3,76.7,19.6,18.4,20.9,0.0,0.0,0.0,0.0,0.0,0.0
29,Albania,2010-01-01 00:00:00,74.7,72.5,77.0,19.8,18.6,21.2,66.4,64.7,68.2,15.4,14.5,16.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2524,Solomon Islands,2004-01-01 00:00:00,67.9,66.6,69.2,16.5,15.8,17.4,0.0,0.0,0.0,0.0,0.0,0.0
2525,Solomon Islands,2005-01-01 00:00:00,68.2,66.9,69.5,16.6,15.9,17.5,59.3,59.0,59.7,12.1,11.8,12.5
2526,Solomon Islands,2006-01-01 00:00:00,68.5,67.3,69.8,16.7,16.0,17.6,0.0,0.0,0.0,0.0,0.0,0.0
2527,Solomon Islands,2007-01-01 00:00:00,68.5,67.2,69.9,16.8,16.0,17.6,0.0,0.0,0.0,0.0,0.0,0.0
2528,Solomon Islands,2008-01-01 00:00:00,69.1,67.9,70.4,16.9,16.2,17.8,0.0,0.0,0.0,0.0,0.0,0.0
2529,Solomon Islands,2009-01-01 00:00:00,69.3,68.0,70.7,17.0,16.2,17.9,0.0,0.0,0.0,0.0,0.0,0.0
2530,Solomon Islands,2010-01-01 00:00:00,69.7,68.4,71.1,17.1,16.4,18.0,60.6,60.2,61.1,12.6,12.3,13.0
2531,Solomon Islands,2011-01-01 00:00:00,70.0,68.7,71.4,17.2,16.5,18.2,0.0,0.0,0.0,0.0,0.0,0.0
2532,Solomon Islands,2012-01-01 00:00:00,70.2,68.9,71.6,17.3,16.5,18.3,0.0,0.0,0.0,0.0,0.0,0.0
2533,Solomon Islands,2013-01-01 00:00:00,70.4,69.1,71.9,17.4,16.6,18.4,0.0,0.0,0.0,0.0,0.0,0.0
2534,Solomon Islands,2014-01-01 00:00:00,70.5,69.1,72.0,17.5,16.6,18.4,0.0,0.0,0.0,0.0,0.0,0.0
2535,Solomon Islands,2015-01-01 00:00:00,70.9,69.5,72.4,17.6,16.8,18.6,61.7,61.2,62.3,13.0,12.6,13.5
2536,Solomon Islands,2016-01-01 00:00:00,71.1,69.7,72.7,17.7,16.8,18.7,61.9,61.4,62.5,13.1,12.7,13.6
2537,Somalia,2007-01-01 00:00:00,51.7,50.1,53.3,15.9,15.3,16.5,0.0,0.0,0.0,0.0,0.0,0.0
2538,Somalia,2008-01-01 00:00:00,52.2,50.7,53.8,16.0,15.4,16.5,0.0,0.0,0.0,0.0,0.0,0.0
2539,Somalia,2009-01-01 00:00:00,52.7,51.2,54.3,16.0,15.5,16.6,0.0,0.0,0.0,0.0,0.0,0.0
2540,Somalia,2010-01-01 00:00:00,53.0,51.4,54.7,16.1,15.5,16.6,47.6,46.5,48.8,12.3,12.0,12.5
2541,Somalia,2011-01-01 00:00:00,53.7,52.1,55.3,16.1,15.6,16.6,0.0,0.0,0.0,0.0,0.0,0.0
2542,Somalia,2012-01-01 00:00:00,53.9,52.2,55.6,16.1,15.6,16.7,0.0,0.0,0.0,0.0,0.0,0.0
2543,Somalia,2013-01-01 00:00:00,54.8,53.4,56.3,16.2,15.7,16.7,0.0,0.0,0.0,0.0,0.0,0.0
2544,Somalia,2014-01-01 00:00:00,55.1,53.6,56.7,16.2,15.7,16.8,0.0,0.0,0.0,0.0,0.0,0.0
2545,Somalia,2015-01-01 00:00:00,55.6,54.1,57.1,16.3,15.8,16.8,50.1,49.1,51.1,12.7,12.5,12.8
2546,Somalia,2016-01-01 00:00:00,55.4,53.7,57.3,16.3,15.7,16.8,50.0,48.8,51.3,12.7,12.5,12.9
2547,Spain,0000-00-00 00:00:00,83.1,80.3,85.7,25.4,23.1,27.5,73.8,72.2,75.4,20.3,18.7,21.8
2548,Sri Lanka,0000-00-00 00:00:00,75.3,72.1,78.5,20.8,19.5,21.9,66.8,64.4,69.3,16.1,15.1,16.9
2549,Sudan,0000-00-00 00:00:00,65.1,63.4,66.9,17.9,17.3,18.5,55.7,54.7,56.8,13.0,12.7,13.3
2550,Suriname,0000-00-00 00:00:00,71.8,68.7,75.1,19.2,17.1,21.2,63.2,61.0,65.4,14.7,13.2,16.0
2551,Sweden,0000-00-00 00:00:00,82.4,80.6,84.1,24.6,23.2,25.8,72.4,71.5,73.4,19.2,18.2,20.1
2552,Switzerland,0000-00-00 00:00:00,83.3,81.2,85.2,25.5,23.8,26.9,73.5,72.4,74.5,20.1,19.0,21.2
2553,Syrian Arab Republic,0000-00-00 00:00:00,63.8,59.4,68.9,18.5,17.5,19.4,55.8,52.5,59.5,13.9,13.3,14.5

In [26]:
file_one = "assets/data/hale.csv"

In [170]:
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
file_one_df.head()

,Country,At Birth Both sexes 2016,At Birth Both sexes 2015,At Birth Both sexes 2010,At Birth Both sexes 2005,At Birth Both sexes 2000,At Birth Male 2016,At Birth Male 2015,At Birth Male 2010,At Birth Male 2005,...,At age 60 (years) Male 2016,At age 60 (years) Male 2015,At age 60 (years) Male 2010,At age 60 (years) Male 2005,At age 60 (years) Male 2000,At age 60 (years) Female 2016,At age 60 (years) Female 2015,At age 60 (years) Female 2010,At age 60 (years) Female 2005,At age 60 (years) Female 2000
0,Afghanistan,53.0,53.2,51.6,49.6,46.9,52.1,52.6,50.9,49.1,...,10.9,10.8,10.6,10.4,10.1,11.7,11.6,11.3,11.0,10.6
1,Albania,68.1,67.8,66.4,65.4,64.9,66.7,66.5,64.7,64.0,...,15.3,15.1,14.5,13.8,13.5,17.4,16.9,16.4,15.8,16.1
2,Algeria,65.5,65.3,64.5,62.8,60.7,65.4,65.2,64.4,62.7,...,15.7,15.6,15.1,14.4,13.2,15.8,15.7,15.1,14.5,13.7
3,Angola,55.8,55.3,51.8,46.7,41.9,53.8,53.3,49.9,44.9,...,12.9,12.8,12.1,11.3,10.5,14.3,14.2,13.4,12.6,11.8
4,Antigua and Barbuda,67.0,66.9,66.5,65.4,64.6,65.2,65.1,64.8,64.0,...,14.0,14,14.6,14.4,13.1,17.1,17,16.7,15.9,16

In [171]:
selected_file_one = file_one_df.loc[:, ["Country","At Birth Both sexes 2016", "At Birth Male 2016", "At Birth Female 2016"]]

In [172]:
renamed_one_df = selected_file_one.rename(columns={"At Birth Both sexes 2016":"Both sexes HALE", "At Birth Male 2016":"Male HALE","At Birth Female 2016":"Female HALE" })
renamed_one_df.head()

               Country  Both sexes HALE  Male HALE  Female HALE
0          Afghanistan             53.0       52.1         54.1
1              Albania             68.1       66.7         69.6
2              Algeria             65.5       65.4         65.6
3               Angola             55.8       53.8         57.7
4  Antigua and Barbuda             67.0       65.2         68.8

In [201]:
file_two = "assets/data/glucose.csv"
file_two_df = pd.read_csv(file_two, encoding="ISO-8859-1")

In [37]:
selected_file_two = file_two_df.loc[:, ["Country","Both_sexes_2014", "Male_2014", "Female_2014"]]

In [69]:
renamed_two_df = selected_file_two.rename(columns={"Both_sexes_2014":"Both sexes Glucose", "Male_2014":"Male Glucose","Female_2014":"Female Glucose" })

In [70]:
renamed_two_df["Both sexes Glucose"]= renamed_two_df["Both sexes Glucose"].str.split("[", n = 1, expand = True) 
renamed_two_df["Male Glucose"]= renamed_two_df["Male Glucose"].str.split("[", n = 1, expand = True)
renamed_two_df["Female Glucose"]= renamed_two_df["Female Glucose"].str.split("[", n = 1, expand = True)
renamed_two_df.head()

       Country Both sexes Glucose Male Glucose Female Glucose
0  Afghanistan              11.9         11.6           12.2
1      Albania               7.4          7.7            7.1
2      Algeria              12.4         12.3           12.6
3      Andorra               6.9          8.1            5.8
4       Angola               8.2          8.5            7.8

In [202]:
renamed_two_df.to_csv("assets/data/glucoselevel2014.csv", index=False, header=True)

In [42]:
file_three = "assets/data/lexbycountry.csv"
file_three_df = pd.read_csv(file_three, encoding="ISO-8859-1")

In [40]:
selected_file_three = file_three_df.loc[:, ["Country","Year", "LEX_at_birth_Both_sexes", "LEX_at_birth_Male", "LEX_at_birth_Female"]]

In [108]:
renamed_three_df = selected_file_three.rename(columns={"LEX_at_birth_Both_sexes":"Both sexes LEX", "LEX_at_birth_Male":"Male LEX","LEX_at_birth_Female":"Female LEX" })

In [107]:
renamed_three_df_filtered = renamed_three_df[renamed_three_df['Year'] >= 2016] 
renamed_three_df_filtered.head()

                Country  Year Both sexes LEX Male LEX Female LEX
0           Afghanistan  2016           62.7       61       64.5
17              Albania  2016           76.4     74.3       78.6
34              Algeria  2016           76.4     75.4       77.4
51               Angola  2016           62.6     60.3       64.9
68  Antigua and Barbuda  2016             75     72.5       77.5

In [205]:
file_four = "assets/data/NCDdeaths.csv"
file_four_df= pd.read_csv(file_four, encoding="ISO-8859-1")

In [98]:
file_four_df.columns = file_four_df.iloc[0]
file_four_df_header = file_four_df[1:]

In [100]:
renamed_four_df = file_four_df_header.rename(columns={"Both sexes":"Both sexes NCD", "Male":"Male NCD","Female":"Female NCD" })
renamed_four_df.head()

,Country,Year,Causes,Both sexes NCD,Male NCD,Female NCD
1,Afghanistan,2016,Malignant neoplasms,19965,10702,9263
2,Afghanistan,2016,Diabetes mellitus,7056,2437,4620
3,Afghanistan,2016,Cardiovascular diseases,51244,26828,24416
4,Afghanistan,2016,Chronic obstructive pulmonary disease,6715,3560,3154
5,Afghanistan,2015,Malignant neoplasms,19290,10319,8972

In [206]:
renamed_four_df.to_csv("assets/data/NCD2016.csv", index=False, header=True)

In [145]:
renamed_four_df.dtypes

0
Country           object
Year              object
Causes            object
Both sexes NCD    object
Male NCD          object
Female NCD        object
dtype: object

In [146]:
renamed_four_df["Year"] = pd.to_numeric(
    renamed_four_df["Year"])
renamed_four_df.dtypes

0
Country           object
Year               int64
Causes            object
Both sexes NCD    object
Male NCD          object
Female NCD        object
dtype: object

In [147]:
renamed_four_df_filtered = renamed_four_df[renamed_four_df['Year'] >= 2016] 
renamed_four_df_filtered.head()

,Country,Year,Causes,Both sexes NCD,Male NCD,Female NCD
1,Afghanistan,2016,Malignant neoplasms,19965,10702,9263
2,Afghanistan,2016,Diabetes mellitus,7056,2437,4620
3,Afghanistan,2016,Cardiovascular diseases,51244,26828,24416
4,Afghanistan,2016,Chronic obstructive pulmonary disease,6715,3560,3154
21,Albania,2016,Malignant neoplasms,5138,2903,2235

In [208]:
file_five = "assets/data/obesity.csv"
file_five_df = pd.read_csv(file_five, encoding="ISO-8859-1")

In [55]:
selected_file_five = file_five_df.loc[:, ["Country","Both_sexes_2016", "Male_2016", "Female_2016"]]

In [140]:
renamed_five_df = selected_file_five.rename(columns={"Both_sexes_2016":"Both sexes Obesity", "Male_2016":"Male Obesity","Female_2016":"Female Obesity"})
renamed_five_df.head()

,Country,Both sexes Obesity,Male Obesity,Female Obesity
0,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4]
1,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9]
2,Algeria,27.4_[22.5-32.7]_Both_sexes_2016,19.9_[13.6-27.1]_Male_2016,34.9_[27.6-42.7]_Female_2016
3,Andorra,25.6 [20.1-31.3],25.9 [18.0-34.3],25.3 [17.7-33.7]
4,Angola,8.2 [5.1-12.2],4.0 [1.6-7.9],12.1 [6.8-19.0]

In [141]:
renamed_five_df["Both sexes Obesity"]= renamed_five_df["Both sexes Obesity"].str.split("[", n = 1, expand = True) 
renamed_five_df["Male Obesity"]= renamed_five_df["Male Obesity"].str.split("[", n = 1, expand = True)
renamed_five_df["Female Obesity"]= renamed_five_df["Female Obesity"].str.split("[", n = 1, expand = True)
renamed_five_df["Both sexes Obesity"]= renamed_five_df["Both sexes Obesity"].str.split("_", n = 1, expand = True) 
renamed_five_df["Male Obesity"]= renamed_five_df["Male Obesity"].str.split("_", n = 1, expand = True)
renamed_five_df["Female Obesity"]= renamed_five_df["Female Obesity"].str.split("_", n = 1, expand = True)
renamed_five_df.head()

       Country Both sexes Obesity Male Obesity Female Obesity
0  Afghanistan               5.5          3.2            7.6
1      Albania              21.7         21.6           21.8
2      Algeria               27.4         19.9           34.9
3      Andorra              25.6         25.9           25.3
4       Angola               8.2          4.0           12.1

In [209]:
renamed_five_df.to_csv("assets/data/obesity2016.csv", index=False, header=True)

In [159]:
file_six = "assets/data/daly.csv"
file_six_df = pd.read_csv(file_six, encoding="ISO-8859-1")
file_six_df

,Sex,GHE code,Unnamed: 2,GHE cause,Unnamed: 4,Unnamed: 5,Member State (See Notes for explanation of colour codes),Afghanistan,Albania,Algeria,...,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe,Unnamed: 190
0,NaN,NaN,NaN,NaN,NaN,NaN,ISO-3 Code,AFG,ALB,DZA,...,USA,URY,UZB,VUT,VEN,VNM,YEM,ZMB,ZWE,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,4,...,1,2,1,4,2,4,4,5,5,NaN
2,Persons,NaN,NaN,Population ('000) (2),NaN,NaN,NaN,"34,656","2,926","40,606",...,"322,180","3,444","31,447",270,"31,568","94,569","27,584","16,591","16,150",NaN
3,Persons,0.0,NaN,All Causes,NaN,NaN,NaN,18144.4,883.9,10833.0,...,100384.2,1048.7,8579.3,76.9,9033.5,25192.8,12374.6,8883.4,8437.3,NaN
4,Persons,10.0,I.,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,7896.1,51.4,2334.2,...,5214.5,79.1,1741.2,21.8,1304.9,4238.7,4887.3,5671.0,4928.2,NaN
5,Persons,20.0,NaN,A.,Infectious and parasitic diseases,NaN,NaN,2336.7,10.0,460.0,...,1699.0,26.0,387.1,8.0,478.0,1861.7,1284.1,3211.4,2643.3,NaN
6,Persons,30.0,NaN,NaN,1.,Tuberculosis,NaN,504.6,0.3,97.7,...,16.2,2.5,86.5,0.9,29.9,391.9,79.3,246.2,70.0,NaN
7,Persons,40.0,NaN,NaN,2.,STDs excluding HIV,NaN,232.7,1.2,59.7,...,67.1,0.9,23.1,0.9,14.6,66.2,328.8,57.2,54.4,NaN
8,Persons,50.0,NaN,NaN,NaN,a.,Syphilis,198.3,0.1,9.7,...,13.9,0.3,4.9,0.8,5.6,24.0,298.6,43.4,35.5,NaN
9,Persons,60.0,NaN,NaN,NaN,b.,Chlamydia,4.6,0.3,6.6,...,11.1,0.2,6.6,0.0,3.3,22.0,4.2,4.1,3.8,NaN
10,Persons,70.0,NaN,NaN,NaN,c.,Gonorrhoea,22.7,0.3,32.8,...,8.3,0.1,6.1,0.0,1.8,2.7,19.6,4.2,9.2,NaN
11,Persons,80.0,NaN,NaN,NaN,d.,Trichomoniasis,0.5,0.1,0.7,...,10.8,0.1,1.1,0.0,1.3,1.3,0.4,1.5,0.9,NaN
12,Persons,85.0,NaN,NaN,NaN,e.,Genital herpes,0.6,0.1,1.1,...,14.1,0.1,0.7,0.0,1.3,3.1,0.6,0.9,0.8,NaN
13,Persons,90.0,NaN,NaN,NaN,f.,Other STDs,6.1,0.2,8.7,...,8.8,0.1,3.8,0.0,1.2,13.0,5.4,3.2,4.2,NaN
14,Persons,100.0,NaN,NaN,3.,HIV/AIDS,NaN,19.6,1.1,10.2,...,396.7,10.2,32.0,0.0,144.3,416.6,21.5,1441.0,1738.5,NaN
15,Persons,110.0,NaN,NaN,4.,Diarrhoeal diseases,NaN,709.7,2.2,154.8,...,274.1,3.5,85.9,3.7,120.6,313.1,435.8,532.4,391.1,NaN
16,Persons,120.0,NaN,NaN,5.,Childhood-cluster diseases,NaN,207.2,0.2,10.2,...,2.3,0.3,2.3,0.3,3.7,22.9,52.0,34.4,18.0,NaN
17,Persons,130.0,NaN,NaN,NaN,a.,Whooping cough,19.1,0.0,0.2,...,2.2,0.3,0.0,0.1,3.2,4.3,9.3,2.4,2.9,NaN
18,Persons,140.0,NaN,NaN,NaN,b.,Diphtheria,1.9,0.0,0.1,...,0.1,0.0,0.1,0.0,0.0,0.3,0.5,0.2,0.2,NaN
19,Persons,150.0,NaN,NaN,NaN,c.,Measles,68.1,0.0,5.9,...,0.0,0.0,0.0,0.0,0.0,3.4,6.1,12.5,5.8,NaN
20,Persons,160.0,NaN,NaN,NaN,d.,Tetanus,118.1,0.2,4.0,...,0.0,0.0,2.1,0.2,0.4,14.9,36.1,19.2,9.1,NaN
21,Persons,170.0,NaN,NaN,6.,Meningitis,NaN,255.0,1.5,32.3,...,41.6,0.5,15.7,0.5,21.6,68.7,77.4,172.5,129.8,NaN
22,Persons,180.0,NaN,NaN,7.,Encephalitis,NaN,19.8,1.6,19.2,...,170.8,4.9,41.2,0.1,19.4,102.9,22.7,7.8,20.8,NaN
23,Persons,185.0,NaN,NaN,8.,Hepatitis,NaN,17.8,0.1,13.9,...,69.8,0.3,35.0,0.1,6.4,25.4,9.8,26.1,5.2,NaN
24,Persons,186.0,NaN,NaN,NaN,a.,Acute hepatitis A,1.7,0.0,1.5,...,18.4,0.1,14.9,0.0,0.6,1.5,0.8,1.1,0.2,NaN
25,Persons,190.0,NaN,NaN,NaN,b.,Acute hepatitis B,10.9,0.1,8.6,...,24.0,0.2,15.6,0.0,2.5,21.0,7.2,19.7,3.1,NaN
26,Persons,200.0,NaN,NaN,NaN,c.,Acute hepatitis C,0.2,0.0,0.2,...,0.1,0.0,0.1,0.0,0.0,0.6,0.2,0.6,0.1,NaN
27,Persons,205.0,NaN,NaN,NaN,d.,Acute hepatitis E,5.1,0.0,3.5,...,27.3,0.1,4.5,0.0,3.2,2.2,1.6,4.6,1.8,NaN
28,Persons,210.0,NaN,NaN,9.,Parasitic and vector diseases,NaN,234.6,0.3,13.4,...,8.2,0.8,5.8,0.3,52.4,91.9,128.3,574.7,166.4,NaN
29,Persons,220.0,NaN,NaN,NaN,a.,Malaria,19.5,.,0.1,...,0.0,.,0.0,0.2,7.7,1.2,73.3,517.1,136.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,Females,1370.0,NaN,NaN,3.,Gout,NaN,0.4,0.1,1.0,...,24.8,0.2,0.8,0.0,0.8,3.6,0.4,0.3,0.3,NaN
625,Females,1380.0,NaN,NaN,4.,Back and neck pain,NaN,89.8,16.5,163.7,...,1596.4,17.5,100.5,0.7,77.8,310.0,79.1,24.6,28.2,NaN
626,Females,1390.0,NaN,NaN,5.,Other musculoskeletal disorders,NaN,50.0,1.6,106.9,...,1440.6,11.7,24.2,0.6,81.9,243.9,55.2,17.2,17.6,NaN
627,Females,1400.0,NaN,N.,Congenital anomalies,NaN,NaN,327.2,8.9,234.9,...,693.7,9.8,137.0,1.6,120.3,393.1,225.1,125.1,125.1,NaN
628,Females,1410.0,NaN,NaN,1.,Neural tube defects,NaN,50.4,0.8,15.9,...,48.5,0.7,20.5,0.1,10.5,17.7,32.4,17.9,12.6,NaN
629,Females,1420.0,NaN,NaN,2.,Cleft lip and cleft palate,NaN,0.6,0.0,0.2,...,1.1,0.0,0.2,0.0,0.3,0.8,0.3,1.3,2.2,NaN
630,Females,1430.0,NaN,NaN,3.,Down syndrome,NaN,5.2,0.3,11.0,...,38.2,0.9,3.2,0.1,7.8,6.8,4.6,2.1,6.6,NaN
631,Females,1440.0,NaN,NaN,4.,Congenital heart anomalies,NaN,109.7,4.7,77.8,...,153.1,3.5,64.1,0.5,45.2,209.3,70.7,31.3,30.4,NaN
632,Females,1450.0,NaN,NaN,5.,Other chromosomal anomalies,NaN,14.4,0.6,21.9,...,117.0,1.0,5.9,0.1,6.3,13.7,12.2,9.5,10.4,NaN
633,Females,1460.0,NaN,NaN,6.,Other congenital anomalies,NaN,147.0,2.6,108.1,...,335.8,3.6,43.1,0.8,50.2,144.8,105.0,63.0,62.9,NaN
634,Females,1470.0,NaN,O.,Oral conditions,NaN,NaN,27.1,5.6,51.3,...,573.8,7.0,44.7,0.2,54.2,88.5,24.1,11.8,14.5,NaN
635,Females,1480.0,NaN,NaN,1.,Dental caries,NaN,4.3,0.4,4.8,...,44.0,0.7,4.5,0.0,5.9,9.8,3.5,1.8,1.5,NaN
636,Females,1490.0,NaN,NaN,2.,Periodontal disease,NaN,5.7,0.9,12.0,...,64.4,1.7,6.3,0.0,11.2,17.2,5.1,3.2,0.7,NaN
637,Females,1500.0,NaN,NaN,3.,Edentulism,NaN,9.3,3.4,23.1,...,360.8,3.4,25.0,0.1,27.7,31.9,8.8,2.8,8.4,NaN
638,Females,1502.0,NaN,NaN,4.,Other oral disorders,NaN,7.8,0.9,11.5,...,104.6,1.1,9.0,0.1,9.3,29.5,6.8,4.0,4.0,NaN
639,Females,1505.0,NaN,P.,Sudden infant death syndrome,NaN,NaN,18.5,0.6,12.4,...,56.9,0.3,3.6,0.0,0.7,11.9,24.4,6.4,1.7,NaN
640,Females,1510.0,III.,Injuries,NaN,NaN,NaN,1191.3,29.8,355.0,...,3511.8,34.0,274.1,2.0,290.2,771.0,565.5,301.3,315.0,NaN
641,Females,1520.0,NaN,A.,Unintentional injuries,NaN,NaN,460.5,23.7,305.2,...,2653.1,25.1,213.1,1.7,212.9,656.4,373.9,253.5,252.6,NaN
642,Females,1530.0,NaN,NaN,1.,Road injury,NaN,80.6,6.6,132.3,...,761.0,6.1,41.6,0.8,119.3,252.6,126.2,84.0,132.6,NaN
643,Females,1540.0,NaN,NaN,2.,Poisonings,NaN,23.1,0.4,9.5,...,70.2,0.2,6.5,0.0,2.1,3.4,28.8,13.8,14.1,NaN
644,Females,1550.0,NaN,NaN,3.,Falls,NaN,171.0,9.7,44.9,...,1054.5,5.5,52.4,0.1,34.4,157.6,43.1,30.0,13.0,NaN
645,Females,1560.0,NaN,NaN,4.,"Fire, heat and hot substances",NaN,21.3,0.8,23.5,...,102.8,1.4,23.4,0.1,6.0,17.9,43.2,26.5,24.2,NaN
646,Females,1570.0,NaN,NaN,5.,Drowning,NaN,37.1,0.7,12.0,...,54.8,0.7,22.0,0.2,7.0,89.2,33.1,23.4,11.4,NaN
647,Females,1575.0,NaN,NaN,6.,Exposure to mechanical forces,NaN,33.4,2.2,16.4,...,149.2,1.7,14.5,0.1,6.3,24.5,25.2,12.5,13.6,NaN
648,Females,1580.0,NaN,NaN,7.,Natural disasters,NaN,0.9,0.0,0.3,...,4.2,0.0,.,0.0,1.0,0.8,0.1,0.0,0.0,NaN
649,Females,1590.0,NaN,NaN,8.,Other unintentional injuries,NaN,93.1,3.5,66.2,...,456.4,9.4,52.8,0.4,36.9,110.4,74.2,63.4,43.7,NaN
650,Females,1600.0,NaN,B.,Intentional injuries,NaN,NaN,730.8,6.1,49.8,...,858.8,8.9,61.0,0.3,77.3,114.6,191.6,47.9,62.4,NaN
651,Females,1610.0,NaN,NaN,1.,Self-harm,NaN,15.7,3.6,17.8,...,551.4,6.2,49.6,0.2,10.2,76.1,46.9,14.2,20.2,NaN
652,Females,1620.0,NaN,NaN,2.,Interpersonal violence,NaN,13.6,2.2,27.2,...,303.8,2.7,11.2,0.2,66.9,36.2,33.4,33.5,42.1,NaN
653,Females,1630.0,NaN,NaN,3.,Collective violence and legal intervention,NaN,701.4,0.3,4.7,...,3.5,0.0,0.1,0.0,0.2,2.3,111.3,0.2,0.1,NaN

In [173]:
LEX_HALE_MERGED = pd.merge(renamed_one_df, renamed_three_df_filtered, on ="Country", how="inner")
LEX_HALE_MERGED.head()

,Country,Both sexes HALE,Male HALE,Female HALE,Year,Both sexes LEX,Male LEX,Female LEX
0,Afghanistan,53.0,52.1,54.1,2016,62.7,61,64.5
1,Albania,68.1,66.7,69.6,2016,76.4,74.3,78.6
2,Algeria,65.5,65.4,65.6,2016,76.4,75.4,77.4
3,Angola,55.8,53.8,57.7,2016,62.6,60.3,64.9
4,Antigua and Barbuda,67.0,65.2,68.8,2016,75,72.5,77.5

In [174]:
LEX_HALE_MERGED["Both sexes LEX"] = pd.to_numeric(
    LEX_HALE_MERGED["Both sexes LEX"])

In [175]:
LEX_HALE_MERGED["Male LEX"] = pd.to_numeric(
    LEX_HALE_MERGED["Male LEX"])

In [176]:
LEX_HALE_MERGED["Female LEX"] = pd.to_numeric(
    LEX_HALE_MERGED["Female LEX"])

In [177]:
LEX_HALE_MERGED["Dark_Years_Both"] = LEX_HALE_MERGED["Both sexes LEX"] - LEX_HALE_MERGED["Both sexes HALE"]

In [178]:
LEX_HALE_MERGED["Dark_Years_Male"] = LEX_HALE_MERGED["Male LEX"] - LEX_HALE_MERGED["Male HALE"]

In [179]:
LEX_HALE_MERGED["Dark_Years_Female"] = LEX_HALE_MERGED["Female LEX"] - LEX_HALE_MERGED["Female HALE"]

In [180]:
dark_years_df = LEX_HALE_MERGED.loc[:, ["Country","Dark_Years_Both", "Dark_Years_Male", "Dark_Years_Female"]]
dark_years_df.head()

               Country  Dark_Years_Both  Dark_Years_Male  Dark_Years_Female
0          Afghanistan              9.7              8.9               10.4
1              Albania              8.3              7.6                9.0
2              Algeria             10.9             10.0               11.8
3               Angola              6.8              6.5                7.2
4  Antigua and Barbuda              8.0              7.3                8.7

In [181]:
dark_years_df.to_csv("assets/data/darkyears.csv", index=False, header=True)

In [182]:
merge_glusose_dark_years_df = pd.merge(renamed_two_df, dark_years_df, on ="Country", how="inner")

In [183]:
merge_glusose_dark_years__obesity_df = pd.merge(renamed_five_df, merge_glusose_dark_years_df, on ="Country", how="inner")

In [184]:
merge_glusose_dark_years__obesity_NCD_df = pd.merge(renamed_four_df_filtered, merge_glusose_dark_years__obesity_df, on ="Country", how="outer")

merge_glusose_dark_years__obesity_NCD_df.head()

,Country,Year,Causes,Both sexes NCD,Male NCD,Female NCD,Both sexes Obesity,Male Obesity,Female Obesity,Both sexes Glucose,Male Glucose,Female Glucose,Dark_Years_Both,Dark_Years_Male,Dark_Years_Female
0,Afghanistan,2016,Malignant neoplasms,19965,10702,9263,5.5,3.2,7.6,11.9,11.6,12.2,9.7,8.9,10.4
1,Afghanistan,2016,Diabetes mellitus,7056,2437,4620,5.5,3.2,7.6,11.9,11.6,12.2,9.7,8.9,10.4
2,Afghanistan,2016,Cardiovascular diseases,51244,26828,24416,5.5,3.2,7.6,11.9,11.6,12.2,9.7,8.9,10.4
3,Afghanistan,2016,Chronic obstructive pulmonary disease,6715,3560,3154,5.5,3.2,7.6,11.9,11.6,12.2,9.7,8.9,10.4
4,Albania,2016,Malignant neoplasms,5138,2903,2235,21.7,21.6,21.8,7.4,7.7,7.1,8.3,7.6,9.0

In [185]:
#################################################
# Database Setup
#################################################

engine = create_engine(
    "mysql://rl91qzpzgty8oaf1:evamhxfd7l42mgso@y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/v21ogkg4wvsne316")
conn = engine.connect()

In [186]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [193]:
from sqlalchemy import Column, Integer, String, Float
class User(Base):
    __tablename__ = "darkdark"
    Country = Column(String(255), primary_key=True)
    Year = Column(String(255))
    Causes = Column(String(255))
    Both_sexes_NCD = Column("Both sexes NCD", String(255))
    Male_NCD = Column("Male NCD", String(255))
    Female_NCD = Column("Female NCD", String(255))
    Both_sexes_Obesity = Column("Both sexes Obesity", String(255))
    Male_Obesity = Column("Male Obesity", String(255))
    Female_Obesity = Column("Female Obesity", String(255))
    Both_sexes_Glucose = Column("Both sexes Glucose", String(255))
    Male_Glucose = Column("Male Glucose", String(255))
    Female_Glucose = Column("Female Glucose", String(255))
    Dark_Years_Both = Column("Dark_Years_Both", String(255))
    Dark_Years_Male = Column("Dark_Years_Male", String(255))
    Dark_Years_Female = Column("Dark_Years_Female", String(255))

/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  item.__name__

In [194]:
Base.metadata.create_all(conn)

In [195]:
merge_glusose_dark_years__obesity_NCD_df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'Afghanistan' for key 'PRIMARY'") [SQL: 'INSERT INTO darkdark (`Country`, `Year`, `Causes`, `Both sexes NCD`, `Male NCD`, `Female NCD`, `Both sexes Obesity`, `Male Obesity`, `Female Obesity`, `Both sexes Glucose`, `Male Glucose`, `Female Glucose`, `Dark_Years_Both`, `Dark_Years_Male`, `Dark_Years_Female`) VALUES (%(Country)s, %(Year)s, %(Causes)s, %(Both sexes NCD)s, %(Male NCD)s, %(Female NCD)s, %(Both sexes Obesity)s, %(Male Obesity)s, %(Female Obesity)s, %(Both sexes Glucose)s, %(Male Glucose)s, %(Female Glucose)s, %(Dark_Years_Both)s, %(Dark_Years_Male)s, %(Dark_Years_Female)s)'] [parameters: ({'Country': 'Afghanistan', 'Year': 2016, 'Causes': 'Malignant neoplasms', 'Both sexes NCD': '19965', 'Male NCD': '10702', 'Female NCD': '9263', 'Both sexes Obesity': '5.5 ', 'Male Obesity': '3.2 ', 'Female Obesity': '7.6 ', 'Both sexes Glucose': '11.9 ', 'Male Glucose': '11.6 ', 'Female Glucose': '12.2 ', 'Dark_Years_Both': 9.700000000000003, 'Dark_Years_Male': 8.899999999999999, 'Dark_Years_Female': 10.399999999999999}, {'Country': 'Afghanistan', 'Year': 2016, 'Causes': 'Diabetes mellitus', 'Both sexes NCD': '7056', 'Male NCD': '2437', 'Female NCD': '4620', 'Both sexes Obesity': '5.5 ', 'Male Obesity': '3.2 ', 'Female Obesity': '7.6 ', 'Both sexes Glucose': '11.9 ', 'Male Glucose': '11.6 ', 'Female Glucose': '12.2 ', 'Dark_Years_Both': 9.700000000000003, 'Dark_Years_Male': 8.899999999999999, 'Dark_Years_Female': 10.399999999999999}, {'Country': 'Afghanistan', 'Year': 2016, 'Causes': 'Cardiovascular diseases', 'Both sexes NCD': '51244', 'Male NCD': '26828', 'Female NCD': '24416', 'Both sexes Obesity': '5.5 ', 'Male Obesity': '3.2 ', 'Female Obesity': '7.6 ', 'Both sexes Glucose': '11.9 ', 'Male Glucose': '11.6 ', 'Female Glucose': '12.2 ', 'Dark_Years_Both': 9.700000000000003, 'Dark_Years_Male': 8.899999999999999, 'Dark_Years_Female': 10.399999999999999}, {'Country': 'Afghanistan', 'Year': 2016, 'Causes': 'Chronic obstructive pulmonary disease', 'Both sexes NCD': '6715', 'Male NCD': '3560', 'Female NCD': '3154', 'Both sexes Obesity': '5.5 ', 'Male Obesity': '3.2 ', 'Female Obesity': '7.6 ', 'Both sexes Glucose': '11.9 ', 'Male Glucose': '11.6 ', 'Female Glucose': '12.2 ', 'Dark_Years_Both': 9.700000000000003, 'Dark_Years_Male': 8.899999999999999, 'Dark_Years_Female': 10.399999999999999}, {'Country': 'Albania', 'Year': 2016, 'Causes': 'Malignant neoplasms', 'Both sexes NCD': '5138', 'Male NCD': '2903', 'Female NCD': '2235', 'Both sexes Obesity': '21.7 ', 'Male Obesity': '21.6 ', 'Female Obesity': '21.8 ', 'Both sexes Glucose': '7.4 ', 'Male Glucose': '7.7 ', 'Female Glucose': '7.1 ', 'Dark_Years_Both': 8.300000000000011, 'Dark_Years_Male': 7.599999999999994, 'Dark_Years_Female': 9.0}, {'Country': 'Albania', 'Year': 2016, 'Causes': 'Diabetes mellitus', 'Both sexes NCD': '168', 'Male NCD': '89', 'Female NCD': '79', 'Both sexes Obesity': '21.7 ', 'Male Obesity': '21.6 ', 'Female Obesity': '21.8 ', 'Both sexes Glucose': '7.4 ', 'Male Glucose': '7.7 ', 'Female Glucose': '7.1 ', 'Dark_Years_Both': 8.300000000000011, 'Dark_Years_Male': 7.599999999999994, 'Dark_Years_Female': 9.0}, {'Country': 'Albania', 'Year': 2016, 'Causes': 'Cardiovascular diseases', 'Both sexes NCD': '14930', 'Male NCD': '8095', 'Female NCD': '6835', 'Both sexes Obesity': '21.7 ', 'Male Obesity': '21.6 ', 'Female Obesity': '21.8 ', 'Both sexes Glucose': '7.4 ', 'Male Glucose': '7.7 ', 'Female Glucose': '7.1 ', 'Dark_Years_Both': 8.300000000000011, 'Dark_Years_Male': 7.599999999999994, 'Dark_Years_Female': 9.0}, {'Country': 'Albania', 'Year': 2016, 'Causes': 'Chronic obstructive pulmonary disease', 'Both sexes NCD': '887', 'Male NCD': '573', 'Female NCD': '314', 'Both sexes Obesity': '21.7 ', 'Male Obesity': '21.6 ', 'Female Obesity': '21.8 ', 'Both sexes Glucose': '7.4 ', 'Male Glucose': '7.7 ', 'Female Glucose': '7.1 ', 'Dark_Years_Both': 8.300000000000011, 'Dark_Years_Male': 7.599999999999994, 'Dark_Years_Female': 9.0}  ... displaying 10 of 732 total bound parameter sets ...  {'Country': 'Zimbabwe', 'Year': 2016, 'Causes': 'Cardiovascular diseases', 'Both sexes NCD': '14184', 'Male NCD': '5480', 'Female NCD': '8704', 'Both sexes Obesity': '15.5 ', 'Male Obesity': '4.7 ', 'Female Obesity': '25.3 ', 'Both sexes Glucose': '7.1 ', 'Male Glucose': '6.5 ', 'Female Glucose': '7.6 ', 'Dark_Years_Both': 7.0, 'Dark_Years_Male': 6.899999999999999, 'Dark_Years_Female': 7.200000000000003}, {'Country': 'Zimbabwe', 'Year': 2016, 'Causes': 'Chronic obstructive pulmonary disease', 'Both sexes NCD': '2970', 'Male NCD': '1345', 'Female NCD': '1625', 'Both sexes Obesity': '15.5 ', 'Male Obesity': '4.7 ', 'Female Obesity': '25.3 ', 'Both sexes Glucose': '7.1 ', 'Male Glucose': '6.5 ', 'Female Glucose': '7.6 ', 'Dark_Years_Both': 7.0, 'Dark_Years_Male': 6.899999999999999, 'Dark_Years_Female': 7.200000000000003})] (Background on this error at: http://sqlalche.me/e/gkpj)

In [196]:
import pymysql, os
pymysql.install_as_MySQLdb()

PASSWD = os.getenv("evamhxfd7l42mgso")
USER = "rl91qzpzgty8oaf1"
PORT = "3306"
DOMAIN = "y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com"
DB = "v21ogkg4wvsne316"
engine = create_engine(f"mysql://{USER}:{PASSWD}@{DOMAIN}:{PORT}/{DB}")
conn = engine.connect()

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'rl91qzpzgty8oaf1'@'136.41.96.68' (using password: YES)") (Background on this error at: http://sqlalche.me/e/e3q8)

In [197]:
#default_schmea: v21ogkg4wvsne316

In [198]:
Base.metadata.drop_all(conn)
Base.metadata.create_all(conn)

In [199]:
merge_glusose_dark_years__obesity_NCD_df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'Afghanistan' for key 'PRIMARY'") [SQL: 'INSERT INTO darkdark (`Country`, `Year`, `Causes`, `Both sexes NCD`, `Male NCD`, `Female NCD`, `Both sexes Obesity`, `Male Obesity`, `Female Obesity`, `Both sexes Glucose`, `Male Glucose`, `Female Glucose`, `Dark_Years_Both`, `Dark_Years_Male`, `Dark_Years_Female`) VALUES (%(Country)s, %(Year)s, %(Causes)s, %(Both sexes NCD)s, %(Male NCD)s, %(Female NCD)s, %(Both sexes Obesity)s, %(Male Obesity)s, %(Female Obesity)s, %(Both sexes Glucose)s, %(Male Glucose)s, %(Female Glucose)s, %(Dark_Years_Both)s, %(Dark_Years_Male)s, %(Dark_Years_Female)s)'] [parameters: ({'Country': 'Afghanistan', 'Year': 2016, 'Causes': 'Malignant neoplasms', 'Both sexes NCD': '19965', 'Male NCD': '10702', 'Female NCD': '9263', 'Both sexes Obesity': '5.5 ', 'Male Obesity': '3.2 ', 'Female Obesity': '7.6 ', 'Both sexes Glucose': '11.9 ', 'Male Glucose': '11.6 ', 'Female Glucose': '12.2 ', 'Dark_Years_Both': 9.700000000000003, 'Dark_Years_Male': 8.899999999999999, 'Dark_Years_Female': 10.399999999999999}, {'Country': 'Afghanistan', 'Year': 2016, 'Causes': 'Diabetes mellitus', 'Both sexes NCD': '7056', 'Male NCD': '2437', 'Female NCD': '4620', 'Both sexes Obesity': '5.5 ', 'Male Obesity': '3.2 ', 'Female Obesity': '7.6 ', 'Both sexes Glucose': '11.9 ', 'Male Glucose': '11.6 ', 'Female Glucose': '12.2 ', 'Dark_Years_Both': 9.700000000000003, 'Dark_Years_Male': 8.899999999999999, 'Dark_Years_Female': 10.399999999999999}, {'Country': 'Afghanistan', 'Year': 2016, 'Causes': 'Cardiovascular diseases', 'Both sexes NCD': '51244', 'Male NCD': '26828', 'Female NCD': '24416', 'Both sexes Obesity': '5.5 ', 'Male Obesity': '3.2 ', 'Female Obesity': '7.6 ', 'Both sexes Glucose': '11.9 ', 'Male Glucose': '11.6 ', 'Female Glucose': '12.2 ', 'Dark_Years_Both': 9.700000000000003, 'Dark_Years_Male': 8.899999999999999, 'Dark_Years_Female': 10.399999999999999}, {'Country': 'Afghanistan', 'Year': 2016, 'Causes': 'Chronic obstructive pulmonary disease', 'Both sexes NCD': '6715', 'Male NCD': '3560', 'Female NCD': '3154', 'Both sexes Obesity': '5.5 ', 'Male Obesity': '3.2 ', 'Female Obesity': '7.6 ', 'Both sexes Glucose': '11.9 ', 'Male Glucose': '11.6 ', 'Female Glucose': '12.2 ', 'Dark_Years_Both': 9.700000000000003, 'Dark_Years_Male': 8.899999999999999, 'Dark_Years_Female': 10.399999999999999}, {'Country': 'Albania', 'Year': 2016, 'Causes': 'Malignant neoplasms', 'Both sexes NCD': '5138', 'Male NCD': '2903', 'Female NCD': '2235', 'Both sexes Obesity': '21.7 ', 'Male Obesity': '21.6 ', 'Female Obesity': '21.8 ', 'Both sexes Glucose': '7.4 ', 'Male Glucose': '7.7 ', 'Female Glucose': '7.1 ', 'Dark_Years_Both': 8.300000000000011, 'Dark_Years_Male': 7.599999999999994, 'Dark_Years_Female': 9.0}, {'Country': 'Albania', 'Year': 2016, 'Causes': 'Diabetes mellitus', 'Both sexes NCD': '168', 'Male NCD': '89', 'Female NCD': '79', 'Both sexes Obesity': '21.7 ', 'Male Obesity': '21.6 ', 'Female Obesity': '21.8 ', 'Both sexes Glucose': '7.4 ', 'Male Glucose': '7.7 ', 'Female Glucose': '7.1 ', 'Dark_Years_Both': 8.300000000000011, 'Dark_Years_Male': 7.599999999999994, 'Dark_Years_Female': 9.0}, {'Country': 'Albania', 'Year': 2016, 'Causes': 'Cardiovascular diseases', 'Both sexes NCD': '14930', 'Male NCD': '8095', 'Female NCD': '6835', 'Both sexes Obesity': '21.7 ', 'Male Obesity': '21.6 ', 'Female Obesity': '21.8 ', 'Both sexes Glucose': '7.4 ', 'Male Glucose': '7.7 ', 'Female Glucose': '7.1 ', 'Dark_Years_Both': 8.300000000000011, 'Dark_Years_Male': 7.599999999999994, 'Dark_Years_Female': 9.0}, {'Country': 'Albania', 'Year': 2016, 'Causes': 'Chronic obstructive pulmonary disease', 'Both sexes NCD': '887', 'Male NCD': '573', 'Female NCD': '314', 'Both sexes Obesity': '21.7 ', 'Male Obesity': '21.6 ', 'Female Obesity': '21.8 ', 'Both sexes Glucose': '7.4 ', 'Male Glucose': '7.7 ', 'Female Glucose': '7.1 ', 'Dark_Years_Both': 8.300000000000011, 'Dark_Years_Male': 7.599999999999994, 'Dark_Years_Female': 9.0}  ... displaying 10 of 732 total bound parameter sets ...  {'Country': 'Zimbabwe', 'Year': 2016, 'Causes': 'Cardiovascular diseases', 'Both sexes NCD': '14184', 'Male NCD': '5480', 'Female NCD': '8704', 'Both sexes Obesity': '15.5 ', 'Male Obesity': '4.7 ', 'Female Obesity': '25.3 ', 'Both sexes Glucose': '7.1 ', 'Male Glucose': '6.5 ', 'Female Glucose': '7.6 ', 'Dark_Years_Both': 7.0, 'Dark_Years_Male': 6.899999999999999, 'Dark_Years_Female': 7.200000000000003}, {'Country': 'Zimbabwe', 'Year': 2016, 'Causes': 'Chronic obstructive pulmonary disease', 'Both sexes NCD': '2970', 'Male NCD': '1345', 'Female NCD': '1625', 'Both sexes Obesity': '15.5 ', 'Male Obesity': '4.7 ', 'Female Obesity': '25.3 ', 'Both sexes Glucose': '7.1 ', 'Male Glucose': '6.5 ', 'Female Glucose': '7.6 ', 'Dark_Years_Both': 7.0, 'Dark_Years_Male': 6.899999999999999, 'Dark_Years_Female': 7.200000000000003})] (Background on this error at: http://sqlalche.me/e/gkpj)