In [1]:
! pip install flask_sqlalchemy

Requirement already satisfied: flask_sqlalchemy in /anaconda3/lib/python3.7/site-packages (2.4.0)
Requirement already satisfied: SQLAlchemy>=0.8.0 in /anaconda3/lib/python3.7/site-packages (from flask_sqlalchemy) (1.2.11)
Requirement already satisfied: Flask>=0.10 in /anaconda3/lib/python3.7/site-packages (from flask_sqlalchemy) (1.0.2)
Requirement already satisfied: Werkzeug>=0.14 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (0.14.1)
Requirement already satisfied: itsdangerous>=0.24 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (0.24)
Requirement already satisfied: click>=5.1 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (6.7)
Requirement already satisfied: Jinja2>=2.10 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in /anaconda3/lib/python3.7/site-packages (from Jinja2>=2.10->Flask>=0.10->flask_sqlalchemy) (1.0)
You are using pip version 19.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import os

import pandas as pd
import numpy as np
import pymysql

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func, distinct

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

pymysql.install_as_MySQLdb()

app = Flask(__name__)



# # reflect an existing database into a new model
# Base = automap_base()
# # reflect the tables
# Base.prepare(engine, reflect=True)
#
# # print table names
# print(engine.table_names())
# # Save reference to the table
# Hale = Base.classes.hale


app.config["SQLALCHEMY_DATABASE_URI"] = "mysql://rl91qzpzgty8oaf1:evamhxfd7l42mgso@y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/v21ogkg4wvsne316"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Hale = Base.classes.hale
LexByCountry = Base.classes.lexbycountry
#
#

/anaconda3/lib/python3.7/site-packages/flask_sqlalchemy/__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com' (timed out)") (Background on this error at: http://sqlalche.me/e/e3q8)

In [3]:
stmt = db.session.query(LexByCountry).statement
df = pd.read_sql_query(stmt, db.session.bind)
df

NameError: name 'LexByCountry' is not defined

In [4]:
file_one = "assets/data/hale.csv"

In [5]:
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
file_one_df.head()

,Country,At Birth Both sexes 2016,At Birth Both sexes 2015,At Birth Both sexes 2010,At Birth Both sexes 2005,At Birth Both sexes 2000,At Birth Male 2016,At Birth Male 2015,At Birth Male 2010,At Birth Male 2005,...,At age 60 (years) Male 2016,At age 60 (years) Male 2015,At age 60 (years) Male 2010,At age 60 (years) Male 2005,At age 60 (years) Male 2000,At age 60 (years) Female 2016,At age 60 (years) Female 2015,At age 60 (years) Female 2010,At age 60 (years) Female 2005,At age 60 (years) Female 2000
0,Afghanistan,53.0,53.2,51.6,49.6,46.9,52.1,52.6,50.9,49.1,...,10.9,10.8,10.6,10.4,10.1,11.7,11.6,11.3,11.0,10.6
1,Albania,68.1,67.8,66.4,65.4,64.9,66.7,66.5,64.7,64.0,...,15.3,15.1,14.5,13.8,13.5,17.4,16.9,16.4,15.8,16.1
2,Algeria,65.5,65.3,64.5,62.8,60.7,65.4,65.2,64.4,62.7,...,15.7,15.6,15.1,14.4,13.2,15.8,15.7,15.1,14.5,13.7
3,Angola,55.8,55.3,51.8,46.7,41.9,53.8,53.3,49.9,44.9,...,12.9,12.8,12.1,11.3,10.5,14.3,14.2,13.4,12.6,11.8
4,Antigua and Barbuda,67.0,66.9,66.5,65.4,64.6,65.2,65.1,64.8,64.0,...,14.0,14,14.6,14.4,13.1,17.1,17,16.7,15.9,16

In [6]:
selected_file_one = file_one_df.loc[:, ["Country","At Birth Both sexes 2016", "At Birth Male 2016", "At Birth Female 2016"]]

In [7]:
renamed_one_df = selected_file_one.rename(columns={"At Birth Both sexes 2016":"Both sexes HALE", "At Birth Male 2016":"Male HALE","At Birth Female 2016":"Female HALE" })
renamed_one_df.head()

               Country  Both sexes HALE  Male HALE  Female HALE
0          Afghanistan             53.0       52.1         54.1
1              Albania             68.1       66.7         69.6
2              Algeria             65.5       65.4         65.6
3               Angola             55.8       53.8         57.7
4  Antigua and Barbuda             67.0       65.2         68.8

In [8]:
file_two = "assets/data/glucose.csv"
file_two_df = pd.read_csv(file_two, encoding="ISO-8859-1")

In [9]:
selected_file_two = file_two_df.loc[:, ["Country","Both_sexes_2014", "Male_2014", "Female_2014"]]

In [10]:
renamed_two_df = selected_file_two.rename(columns={"Both_sexes_2014":"Both sexes Glucose", "Male_2014":"Male Glucose","Female_2014":"Female Glucose" })

In [11]:
renamed_two_df["Both sexes Glucose"]= renamed_two_df["Both sexes Glucose"].str.split("[", n = 1, expand = True) 
renamed_two_df["Male Glucose"]= renamed_two_df["Male Glucose"].str.split("[", n = 1, expand = True)
renamed_two_df["Female Glucose"]= renamed_two_df["Female Glucose"].str.split("[", n = 1, expand = True)
renamed_two_df.head()

       Country Both sexes Glucose Male Glucose Female Glucose
0  Afghanistan              11.9         11.6           12.2
1      Albania               7.4          7.7            7.1
2      Algeria              12.4         12.3           12.6
3      Andorra               6.9          8.1            5.8
4       Angola               8.2          8.5            7.8

In [12]:
renamed_two_df.to_csv("assets/data/glucoselevel2014.csv", index=False, header=True)

In [13]:
file_three = "assets/data/lexbycountry.csv"
file_three_df = pd.read_csv(file_three, encoding="ISO-8859-1")

In [14]:
selected_file_three = file_three_df.loc[:, ["Country","Year", "LEX_at_birth_Both_sexes", "LEX_at_birth_Male", "LEX_at_birth_Female"]]

In [15]:
renamed_three_df = selected_file_three.rename(columns={"LEX_at_birth_Both_sexes":"Both sexes LEX", "LEX_at_birth_Male":"Male LEX","LEX_at_birth_Female":"Female LEX" })

In [16]:
renamed_three_df_filtered = renamed_three_df[renamed_three_df['Year'] >= 2016] 
renamed_three_df_filtered.head()

                Country  Year Both sexes LEX Male LEX Female LEX
0           Afghanistan  2016           62.7       61       64.5
17              Albania  2016           76.4     74.3       78.6
34              Algeria  2016           76.4     75.4       77.4
51               Angola  2016           62.6     60.3       64.9
68  Antigua and Barbuda  2016             75     72.5       77.5

In [17]:
file_four = "assets/data/NCDdeaths.csv"
file_four_df= pd.read_csv(file_four, encoding="ISO-8859-1")

In [18]:
file_four_df.columns = file_four_df.iloc[0]
file_four_df_header = file_four_df[1:]

In [19]:
renamed_four_df = file_four_df_header.rename(columns={"Both sexes":"Both sexes NCD", "Male":"Male NCD","Female":"Female NCD" })
renamed_four_df.head()

,Country,Year,Causes,Both sexes NCD,Male NCD,Female NCD
1,Afghanistan,2016,Malignant neoplasms,19965,10702,9263
2,Afghanistan,2016,Diabetes mellitus,7056,2437,4620
3,Afghanistan,2016,Cardiovascular diseases,51244,26828,24416
4,Afghanistan,2016,Chronic obstructive pulmonary disease,6715,3560,3154
5,Afghanistan,2015,Malignant neoplasms,19290,10319,8972

In [20]:
renamed_four_df.dtypes

0
Country           object
Year              object
Causes            object
Both sexes NCD    object
Male NCD          object
Female NCD        object
dtype: object

In [21]:
renamed_four_df["Year"] = pd.to_numeric(
    renamed_four_df["Year"])
renamed_four_df.dtypes

0
Country           object
Year               int64
Causes            object
Both sexes NCD    object
Male NCD          object
Female NCD        object
dtype: object

In [22]:
renamed_four_df_filtered = renamed_four_df[renamed_four_df['Year'] >= 2016] 
renamed_four_df_filtered.head()

,Country,Year,Causes,Both sexes NCD,Male NCD,Female NCD
1,Afghanistan,2016,Malignant neoplasms,19965,10702,9263
2,Afghanistan,2016,Diabetes mellitus,7056,2437,4620
3,Afghanistan,2016,Cardiovascular diseases,51244,26828,24416
4,Afghanistan,2016,Chronic obstructive pulmonary disease,6715,3560,3154
21,Albania,2016,Malignant neoplasms,5138,2903,2235

In [23]:
renamed_four_df_filtered.to_csv("assets/data/NCD2016.csv", index=False, header=True)

In [24]:
file_four_NCD = "assets/data/NCD.csv"
file_four_NCD_df= pd.read_csv(file_four_NCD, encoding="ISO-8859-1")
file_four_NCD_df

,Unnamed: 0,Unnamed: 1,"Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.1","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.2"
0,Country,Year,Both sexes,Male,Female
1,Afghanistan,2016,29.8,31.8,27.7
2,Afghanistan,2015,29.8,31.9,27.8
3,Afghanistan,2010,31.7,34.1,29.4
4,Afghanistan,2005,34.1,36.5,31.6
5,Afghanistan,2000,34.4,36.6,32.1
6,Albania,2016,17.0,20.7,13.1
7,Albania,2015,17.4,20.9,13.7
8,Albania,2010,18.6,22.3,14.6
9,Albania,2005,18.8,22.1,15.0
10,Albania,2000,19.4,23.1,14.9
11,Algeria,2016,14.2,15.2,13.2
12,Algeria,2015,14.4,15.4,13.3
13,Algeria,2010,15.4,16.4,14.4
14,Algeria,2005,17.6,18.9,16.2
15,Algeria,2000,21.1,23.1,19.1
16,Angola,2016,16.5,17.2,16.0
17,Angola,2015,16.9,17.6,16.3
18,Angola,2010,18.1,18.6,17.8
19,Angola,2005,21.3,21.5,21.2
20,Angola,2000,24.0,24.2,23.8
21,Antigua and Barbuda,2016,22.6,25.2,20.0
22,Antigua and Barbuda,2015,22.6,25.5,19.7
23,Antigua and Barbuda,2010,21.6,24.2,19.3
24,Antigua and Barbuda,2005,21.6,21.8,21.3
25,Antigua and Barbuda,2000,23.4,26.8,20.8
26,Argentina,2016,15.8,19.7,12.2
27,Argentina,2015,16.1,20.2,12.4
28,Argentina,2010,17.8,22.8,13.2
29,Argentina,2005,18.9,24.6,13.6
...,...,...,...,...,...
886,Vanuatu,2016,23.3,27.2,19.2
887,Vanuatu,2015,23.7,27.6,19.6
888,Vanuatu,2010,24.9,28.2,21.1
889,Vanuatu,2005,25.6,28.4,22.3
890,Vanuatu,2000,27.9,30.8,24.4
891,Venezuela (Bolivarian Republic of),2016,18.1,21.8,14.5
892,Venezuela (Bolivarian Republic of),2015,18.2,21.9,14.6
893,Venezuela (Bolivarian Republic of),2010,18.4,22.0,14.9
894,Venezuela (Bolivarian Republic of),2005,19.4,22.8,16.2
895,Venezuela (Bolivarian Republic of),2000,21.6,24.9,18.3
896,Viet Nam,2016,17.1,23.4,11.5
897,Viet Nam,2015,17.3,23.6,11.6
898,Viet Nam,2010,18.0,24.8,12.1
899,Viet Nam,2005,18.4,25.2,12.4
900,Viet Nam,2000,18.6,25.3,12.7
901,Yemen,2016,30.6,33.2,28.2
902,Yemen,2015,30.7,33.3,28.2
903,Yemen,2010,31.9,34.5,29.4
904,Yemen,2005,32.6,35.2,30.1
905,Yemen,2000,33.1,35.7,30.5
906,Zambia,2016,17.9,18.5,17.4
907,Zambia,2015,18.0,18.6,17.6
908,Zambia,2010,19.9,19.8,20.0
909,Zambia,2005,21.1,20.4,21.7
910,Zambia,2000,23.2,21.8,24.4
911,Zimbabwe,2016,19.3,18.7,19.8
912,Zimbabwe,2015,19.4,18.6,19.9
913,Zimbabwe,2010,21.1,20.5,21.5
914,Zimbabwe,2005,22.5,22.1,22.9
915,Zimbabwe,2000,21.6,21.6,21.7

In [25]:
file_four_NCD_df["Unnamed: 1"] = pd.to_numeric(
    file_four_NCD_df["Unnamed: 1"])
file_four_NCD_df.dtypes

ValueError: Unable to parse string "Year" at position 0

In [26]:
renamed_file_four_NCD_df_filtered = file_four_NCD_df[file_four_NCD_df['Unnamed: 1'] >= 2016] 
renamed_file_four_NCD_df_filtered.head()

TypeError: '>=' not supported between instances of 'str' and 'int'

In [27]:
file_five = "assets/data/obesity.csv"
file_five_df = pd.read_csv(file_five, encoding="ISO-8859-1")

In [28]:
selected_file_five = file_five_df.loc[:, ["Country","Both_sexes_2016", "Male_2016", "Female_2016"]]

In [29]:
renamed_five_df = selected_file_five.rename(columns={"Both_sexes_2016":"Both sexes Obesity", "Male_2016":"Male Obesity","Female_2016":"Female Obesity"})
renamed_five_df.head()

,Country,Both sexes Obesity,Male Obesity,Female Obesity
0,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4]
1,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9]
2,Algeria,27.4_[22.5-32.7]_Both_sexes_2016,19.9_[13.6-27.1]_Male_2016,34.9_[27.6-42.7]_Female_2016
3,Andorra,25.6 [20.1-31.3],25.9 [18.0-34.3],25.3 [17.7-33.7]
4,Angola,8.2 [5.1-12.2],4.0 [1.6-7.9],12.1 [6.8-19.0]

In [30]:
renamed_five_df["Both sexes Obesity"]= renamed_five_df["Both sexes Obesity"].str.split("[", n = 1, expand = True) 
renamed_five_df["Male Obesity"]= renamed_five_df["Male Obesity"].str.split("[", n = 1, expand = True)
renamed_five_df["Female Obesity"]= renamed_five_df["Female Obesity"].str.split("[", n = 1, expand = True)
renamed_five_df["Both sexes Obesity"]= renamed_five_df["Both sexes Obesity"].str.split("_", n = 1, expand = True) 
renamed_five_df["Male Obesity"]= renamed_five_df["Male Obesity"].str.split("_", n = 1, expand = True)
renamed_five_df["Female Obesity"]= renamed_five_df["Female Obesity"].str.split("_", n = 1, expand = True)
renamed_five_df.head()

       Country Both sexes Obesity Male Obesity Female Obesity
0  Afghanistan               5.5          3.2            7.6
1      Albania              21.7         21.6           21.8
2      Algeria               27.4         19.9           34.9
3      Andorra              25.6         25.9           25.3
4       Angola               8.2          4.0           12.1

In [31]:
renamed_five_df.to_csv("assets/data/obesity2016.csv", index=False, header=True)

In [32]:
file_six = "assets/data/daly.csv"
file_six_df = pd.read_csv(file_six, encoding="ISO-8859-1")

In [33]:
modified_daly = "assets/data/daly_modified.csv"
modified_daly_df = pd.read_csv(modified_daly, encoding="ISO-8859-1")
modified_daly_df

,Sex,GHE cause,Afghanistan,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,Persons,Infectious and parasitic diseases,2336.7,10.0,460.0,5256.8,1.2,444.1,18.3,59.4,...,8233.1,1699.0,26.0,387.1,8.0,478.0,1861.7,1284.1,3211.4,2643.3
1,Persons,Respiratory Infectious,1424.9,14.4,461.5,1866.6,0.8,613.6,14.0,81.3,...,2388.0,1673.7,24.7,350.7,4.1,263.3,753.9,926.3,731.2,666.8
2,Persons,Maternal conditions,225.3,0.6,62.0,214.4,0.2,29.1,0.6,2.4,...,636.3,47.7,0.7,16.5,0.3,40.5,56.4,204.1,104.2,177.2
3,Persons,Neonatal conditions,3675.8,19.8,1169.5,2959.0,0.6,372.0,26.1,75.3,...,3857.8,1504.9,19.9,713.7,6.2,469.8,1364.3,1850.0,1213.2,1032.2
4,Persons,Nutritional deficiencies,233.5,6.6,181.1,746.3,0.6,88.9,8.2,14.5,...,1249.5,289.3,7.8,273.2,3.1,53.3,202.3,622.8,411.1,408.7
5,Persons,Malignant neoplasms,898.1,137.9,871.8,310.3,3.4,1658.8,208.1,998.8,...,957.3,14916.5,196.1,507.2,7.3,853.3,3275.6,455.9,295.9,337.0
6,Persons,Other neoplasms,48.6,8.2,22.7,19.9,0.1,80.0,2.2,27.2,...,31.1,361.5,7.0,36.0,0.1,86.0,37.4,28.2,14.8,4.4
7,Persons,Diabetes mellitus,338.0,10.1,407.8,107.6,1.7,350.6,36.5,156.6,...,257.3,4054.7,28.0,238.8,3.6,514.3,736.4,179.8,72.6,134.4
8,Persons,"Endocrine, blood, immune disorders",180.2,7.9,118.4,157.9,0.7,101.1,4.9,60.1,...,237.7,1421.9,10.4,49.3,0.5,49.2,198.2,155.5,74.1,49.6
9,Persons,Mental and substance use disorders,759.7,55.2,927.8,480.7,2.2,1112.5,60.4,802.4,...,984.6,12667.7,83.6,567.4,4.4,595.8,1817.5,607.6,294.7,310.1
10,Persons,Neurological conditions,338.7,48.8,581.4,232.0,1.1,483.6,40.9,458.1,...,467.6,7387.8,61.2,354.6,1.9,348.5,1218.7,313.4,144.2,147.7
11,Persons,Sense organ diseases,373.2,47.4,593.2,280.9,1.0,520.3,52.3,257.3,...,479.6,3182.2,51.7,333.3,3.2,372.6,1381.2,416.3,131.4,133.6
12,Persons,Cardiovascular diseases,1570.7,284.6,1576.5,671.4,5.0,1832.1,227.7,749.5,...,1445.2,17309.5,171.4,2273.9,12.2,1260.2,3854.2,1801.7,382.3,466.8
13,Persons,Respiratory diseases,315.0,21.7,279.3,215.1,1.0,733.7,26.8,312.4,...,415.5,6220.9,56.9,173.2,3.7,235.2,1050.2,284.3,107.0,139.5
14,Persons,Digestive diseases,267.7,18.9,219.7,395.4,0.7,451.1,36.4,138.3,...,607.5,3572.2,32.0,404.1,1.5,246.8,909.5,210.3,218.0,157.6
15,Persons,Genitourinary diseases,308.2,20.9,348.1,145.4,0.8,401.8,28.6,105.5,...,290.4,2927.0,30.0,275.6,2.2,183.6,571.4,259.6,87.1,111.7
16,Persons,Skin diseases,89.8,6.9,111.4,125.4,0.4,150.6,7.2,70.7,...,250.7,1066.2,11.4,70.5,1.0,82.1,324.3,79.6,80.6,58.8
17,Persons,Musculoskeletal diseases,298.2,45.6,611.1,170.8,1.4,845.2,42.3,527.9,...,343.6,6881.0,72.4,303.4,2.8,350.7,1208.3,282.3,103.5,112.7
18,Persons,Congenital anomalies,666.4,18.3,483.8,709.8,0.7,299.6,19.7,69.8,...,1006.0,1464.2,20.8,305.4,3.5,257.5,870.8,479.2,281.5,298.4
19,Persons,Oral conditions,55.2,10.5,102.5,37.5,0.3,129.0,12.2,97.4,...,54.2,1071.5,12.4,80.9,0.3,95.6,154.9,47.3,21.8,24.3
20,Persons,Sudden infant death syndrome,38.2,1.2,24.4,51.5,0.0,21.5,0.3,5.5,...,63.3,131.6,0.8,8.0,0.1,1.5,26.5,56.1,16.5,3.9
21,Persons,Unintentional injuries,1329.8,71.1,1023.3,1277.6,2.3,910.2,70.9,342.0,...,2617.5,6760.5,79.6,675.6,5.4,1156.9,2724.4,1221.7,713.7,768.6
22,Persons,Intentional injuries,2372.6,17.3,195.5,287.8,0.1,391.4,12.9,168.4,...,453.8,3772.7,43.7,180.8,1.2,1038.9,594.6,608.5,172.7,250.0
23,Males,Infectious and parasitic diseases,1186.1,5.5,248.1,2853.5,0.6,248.9,12.1,31.8,...,4576.8,945.8,15.5,235.7,4.6,285.6,1233.0,644.1,1690.5,1316.9
24,Males,Respiratory Infectious,684.2,7.9,210.3,906.5,0.5,323.6,7.8,40.0,...,1223.1,863.4,12.7,191.5,2.3,152.7,460.8,416.0,385.8,338.4
25,Males,Neonatal conditions,2032.6,11.5,613.6,1685.6,0.3,203.4,13.6,39.0,...,2145.5,807.7,11.0,404.3,3.3,264.1,731.8,1093.5,675.4,581.2
26,Males,Nutritional deficiencies,86.7,2.2,67.7,415.9,0.3,29.3,3.8,5.3,...,663.7,110.0,2.6,79.6,1.0,26.7,51.4,260.0,219.4,209.1
27,Males,Malignant neoplasms,485.0,77.2,426.6,135.5,1.7,857.9,118.8,557.7,...,436.6,7917.9,108.4,240.9,4.0,420.0,1870.7,224.8,129.6,147.9
28,Males,Other neoplasms,26.6,4.7,11.8,9.2,0.0,44.4,0.3,15.1,...,22.1,193.7,3.7,20.8,0.0,48.5,17.9,14.5,8.9,2.6
29,Males,Diabetes mellitus,122.7,5.4,197.3,61.4,0.9,184.7,15.8,87.0,...,143.8,2243.4,14.0,118.6,1.7,278.3,316.3,76.6,42.0,62.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,Males,Skin diseases,42.9,3.2,52.8,55.6,0.2,65.0,3.1,31.2,...,117.6,447.2,4.6,32.1,0.5,37.9,154.8,37.7,37.7,26.1
39,Males,Musculoskeletal diseases,128.6,20.1,267.5,79.4,0.6,385.2,16.5,233.1,...,166.1,2755.2,32.1,128.2,1.2,138.6,520.1,122.2,49.4,55.1
40,Males,Congenital anomalies,339.2,9.4,248.9,397.9,0.3,157.5,10.8,36.3,...,546.3,770.5,11.1,168.3,2.0,137.3,477.7,254.1,156.4,173.3
41,Males,Oral conditions,28.1,4.9,51.3,18.2,0.1,57.5,4.9,43.2,...,24.2,497.8,5.4,36.2,0.2,41.4,66.4,23.2,10.0,9.7
42,Males,Sudden infant death syndrome,19.8,0.7,12.0,33.9,0.0,11.8,0.1,3.1,...,37.8,74.6,0.5,4.4,0.0,0.8,14.6,31.6,10.0,2.1
43,Males,Unintentional injuries,869.3,47.4,718.1,853.0,1.7,632.0,47.7,205.8,...,1640.0,4107.4,54.6,462.5,3.7,944.0,2068.0,847.8,460.2,516.0
44,Males,Intentional injuries,1641.8,11.2,145.7,222.1,0.1,318.5,10.4,121.7,...,325.5,2913.9,34.8,119.9,0.9,961.6,480.1,416.8,124.8,187.6
45,Females,Infectious and parasitic diseases,1150.6,4.5,211.9,2403.3,0.5,195.2,6.2,27.5,...,3656.2,753.1,10.5,151.4,3.5,192.4,628.7,640.0,1520.9,1326.4
46,Females,Respiratory Infectious,740.6,6.5,251.3,960.1,0.3,290.1,6.2,41.3,...,1164.8,810.2,12.0,159.2,1.9,110.6,293.1,510.3,345.3,328.4
47,Females,Maternal conditions,225.3,0.6,62.0,214.4,0.2,29.1,0.6,2.4,...,636.3,47.7,0.7,16.5,0.3,40.5,56.4,204.1,104.2,177.2
48,Females,Neonatal conditions,1643.2,8.3,555.9,1273.4,0.3,168.6,12.5,36.2,...,1712.3,697.2,8.8,309.4,2.9,205.7,632.5,756.4,537.8,451.1
49,Females,Nutritional deficiencies,146.8,4.3,113.5,330.4,0.3,59.6,4.3,9.1,...,585.9,179.3,5.2,193.6,2.1,26.7,150.8,362.9,191.7,199.6
50,Females,Malignant neoplasms,413.1,60.7,445.2,174.8,1.8,800.9,89.2,441.0,...,520.6,6998.6,87.8,266.3,3.3,433.3,1404.9,231.2,166.3,189.1
51,Females,Other neoplasms,21.9,3.5,10.9,10.7,0.1,35.6,1.9,12.0,...,9.0,167.8,3.3,15.2,0.0,37.5,19.5,13.7,5.9,1.8
52,Females,Diabetes mellitus,215.2,4.7,210.5,46.3,0.8,166.0,20.7,69.7,...,113.4,1811.3,14.0,120.2,1.8,235.9,420.2,103.3,30.5,72.0
53,Females,"Endocrine, blood, immune disorders",108.1,4.2,64.9,80.8,0.4,54.0,2.4,30.1,...,116.6,702.1,6.0,26.0,0.2,23.7,115.8,75.8,35.8,25.4
54,Females,Mental and substance use disorders,358.3,28.1,468.0,227.1,1.1,589.7,30.9,398.4,...,474.7,6111.3,45.8,264.5,2.1,286.5,903.2,296.2,137.2,139.1
55,Females,Neurological conditions,191.9,27.5,327.5,135.3,0.6,285.9,26.1,270.3,...,251.6,4433.5,35.6,189.4,1.1,190.5,739.1,173.8,73.4,84.7
56,Females,Sense organ diseases,185.1,24.4,306.7,139.2,0.6,280.8,30.2,122.1,...,244.0,1580.5,29.4,174.8,1.6,196.5,773.2,211.5,65.7,68.4
57,Females,Cardiovascular diseases,730.8,119.1,757.0,341.1,2.4,789.9,102.4,328.0,...,719.8,7310.7,80.6,975.9,5.2,484.7,1392.3,881.7,192.2,267.2
58,Females,Respiratory diseases,154.1,8.3,131.7,123.3,0.5,354.1,12.1,150.3,...,224.3,2990.5,25.6,83.2,1.5,112.1,409.7,135.7,55.1,76.4
59,Females,Digestive diseases,133.8,6.4,100.3,146.3,0.3,154.9,13.9,56.2,...,276.2,1546.2,12.9,164.4,0.6,81.7,201.7,96.9,84.0,68.4
60,Females,Genitourinary diseases,177.9,10.7,199.6,71.9,0.4,203.0,15.3,60.2,...,152.5,1513.9,15.6,150.4,1.2,94.7,333.9,149.0,41.9,63.1
61,Females,Skin diseases,46.9,3.7,58.6,69.9,0.2,85.6,4.1,39.6,...,133.2,619.0,6.7,38.3,0.5,44.2,169.5,41.9,42.9,32.7
62,Females,Musculoskeletal diseases,169.6,25.5,343.6,91.4,0.8,460.0,25.8,294.8,...,177.5,4125.7,40.3,175.2,1.7,212.1,688.2,160.1,54.1,57.6
63,Females,Congenital anomalies,327.2,8.9,234.9,311.9,0.4,142.1,8.9,33.5,...,459.7,693.7,9.8,137.0,1.6,120.3,393.1,225.1,125.1,125.1
64,Females,Oral conditions,27.1,5.6,51.3,19.4,0.2,71.4,7.2,54.2,...,30.0,573.8,7.0,44.7,0.2,54.2,88.5,24.1,11.8,14.5
65,Females,Sudden infant death syndrome,18.5,0.6,12.4,17.6,0.0,9.6,0.1,2.4,...,25.5,56.9,0.3,3.6,0.0,0.7,11.9,24.4,6.4,1.7
66,Females,Unintentional injuries,460.5,23.7,305.2,424.6,0.6,278.2,23.2,136.2,...,977.5,2653.1,25.1,213.1,1.7,212.9,656.4,373.9,253.5,252.6
67,Females,Intentional injuries,730.8,6.1,49.8,65.6,0.1,72.9,2.5,46.8,...,128.3,858.8,8.9,61.0,0.3,77.3,114.6,191.6,47.9,62.4

In [34]:
LEX_HALE_MERGED = pd.merge(renamed_one_df, renamed_three_df_filtered, on ="Country", how="inner")
LEX_HALE_MERGED.head()

,Country,Both sexes HALE,Male HALE,Female HALE,Year,Both sexes LEX,Male LEX,Female LEX
0,Afghanistan,53.0,52.1,54.1,2016,62.7,61,64.5
1,Albania,68.1,66.7,69.6,2016,76.4,74.3,78.6
2,Algeria,65.5,65.4,65.6,2016,76.4,75.4,77.4
3,Angola,55.8,53.8,57.7,2016,62.6,60.3,64.9
4,Antigua and Barbuda,67.0,65.2,68.8,2016,75,72.5,77.5

In [35]:
LEX_HALE_MERGED["Both sexes LEX"] = pd.to_numeric(
    LEX_HALE_MERGED["Both sexes LEX"])

In [36]:
LEX_HALE_MERGED["Male LEX"] = pd.to_numeric(
    LEX_HALE_MERGED["Male LEX"])

In [37]:
LEX_HALE_MERGED["Female LEX"] = pd.to_numeric(
    LEX_HALE_MERGED["Female LEX"])

In [38]:
LEX_HALE_MERGED["Dark_Years_Both"] = (LEX_HALE_MERGED["Both sexes LEX"] - LEX_HALE_MERGED["Both sexes HALE"])/LEX_HALE_MERGED["Both sexes LEX"]

In [39]:
LEX_HALE_MERGED["Dark_Years_Male"] = LEX_HALE_MERGED["Male LEX"] - LEX_HALE_MERGED["Male HALE"]

In [40]:
LEX_HALE_MERGED["Dark_Years_Female"] = LEX_HALE_MERGED["Female LEX"] - LEX_HALE_MERGED["Female HALE"]

In [41]:
dark_years_df = LEX_HALE_MERGED.loc[:, ["Country","Dark_Years_Both", "Dark_Years_Male", "Dark_Years_Female"]]
dark_years_df.head()

               Country  Dark_Years_Both  Dark_Years_Male  Dark_Years_Female
0          Afghanistan         0.154705              8.9               10.4
1              Albania         0.108639              7.6                9.0
2              Algeria         0.142670             10.0               11.8
3               Angola         0.108626              6.5                7.2
4  Antigua and Barbuda         0.106667              7.3                8.7

In [48]:
dark_years_df.to_csv("assets/data/darkyears2.csv", index=False, header=True)

In [43]:
merge_glusose_dark_years_df = pd.merge(renamed_two_df, dark_years_df, on ="Country", how="inner")

In [44]:
merge_glusose_dark_years__obesity_df = pd.merge(renamed_five_df, merge_glusose_dark_years_df, on ="Country", how="inner")

In [45]:
merge_glusose_dark_years__obesity_NCD_df = pd.merge(renamed_four_df_filtered, merge_glusose_dark_years__obesity_df, on ="Country", how="outer")

merge_glusose_dark_years__obesity_NCD_df.head()

,Country,Year,Causes,Both sexes NCD,Male NCD,Female NCD,Both sexes Obesity,Male Obesity,Female Obesity,Both sexes Glucose,Male Glucose,Female Glucose,Dark_Years_Both,Dark_Years_Male,Dark_Years_Female
0,Afghanistan,2016,Malignant neoplasms,19965,10702,9263,5.5,3.2,7.6,11.9,11.6,12.2,0.154705,8.9,10.4
1,Afghanistan,2016,Diabetes mellitus,7056,2437,4620,5.5,3.2,7.6,11.9,11.6,12.2,0.154705,8.9,10.4
2,Afghanistan,2016,Cardiovascular diseases,51244,26828,24416,5.5,3.2,7.6,11.9,11.6,12.2,0.154705,8.9,10.4
3,Afghanistan,2016,Chronic obstructive pulmonary disease,6715,3560,3154,5.5,3.2,7.6,11.9,11.6,12.2,0.154705,8.9,10.4
4,Albania,2016,Malignant neoplasms,5138,2903,2235,21.7,21.6,21.8,7.4,7.7,7.1,0.108639,7.6,9.0

In [46]:
#################################################
# Database Setup
#################################################

engine = create_engine(
    "mysql://rl91qzpzgty8oaf1:evamhxfd7l42mgso@y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/v21ogkg4wvsne316")
conn = engine.connect()

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com' (timed out)") (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [ ]:
from sqlalchemy import Column, Integer, String, Float
class User(Base):
    __tablename__ = "darkdark"
    Country = Column(String(255), primary_key=True)
    Year = Column(String(255))
    Causes = Column(String(255))
    Both_sexes_NCD = Column("Both sexes NCD", String(255))
    Male_NCD = Column("Male NCD", String(255))
    Female_NCD = Column("Female NCD", String(255))
    Both_sexes_Obesity = Column("Both sexes Obesity", String(255))
    Male_Obesity = Column("Male Obesity", String(255))
    Female_Obesity = Column("Female Obesity", String(255))
    Both_sexes_Glucose = Column("Both sexes Glucose", String(255))
    Male_Glucose = Column("Male Glucose", String(255))
    Female_Glucose = Column("Female Glucose", String(255))
    Dark_Years_Both = Column("Dark_Years_Both", String(255))
    Dark_Years_Male = Column("Dark_Years_Male", String(255))
    Dark_Years_Female = Column("Dark_Years_Female", String(255))

In [ ]:
Base.metadata.create_all(conn)

In [ ]:
merge_glusose_dark_years__obesity_NCD_df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

In [ ]:
import pymysql, os
pymysql.install_as_MySQLdb()

PASSWD = os.getenv("evamhxfd7l42mgso")
USER = "rl91qzpzgty8oaf1"
PORT = "3306"
DOMAIN = "y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com"
DB = "v21ogkg4wvsne316"
engine = create_engine(f"mysql://{USER}:{PASSWD}@{DOMAIN}:{PORT}/{DB}")
conn = engine.connect()

In [ ]:
#default_schmea: v21ogkg4wvsne316

In [ ]:
Base.metadata.drop_all(conn)
Base.metadata.create_all(conn)

In [ ]:
merge_glusose_dark_years__obesity_NCD_df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

In [ ]:
modified_daly2 = "assets/data/daly_columned.csv"
modified_daly2_df = pd.read_csv(modified_daly2, encoding="ISO-8859-1")
modified_daly2_df