In [3]:
! pip install flask_sqlalchemy

Requirement already satisfied: flask_sqlalchemy in c:\users\jasmi\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: SQLAlchemy>=0.8.0 in c:\users\jasmi\anaconda3\lib\site-packages (from flask_sqlalchemy) (1.2.15)
Requirement already satisfied: Flask>=0.10 in c:\users\jasmi\anaconda3\lib\site-packages (from flask_sqlalchemy) (1.0.2)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\jasmi\anaconda3\lib\site-packages (from Flask>=0.10->flask_sqlalchemy) (1.1.0)
Requirement already satisfied: click>=5.1 in c:\users\jasmi\anaconda3\lib\site-packages (from Flask>=0.10->flask_sqlalchemy) (7.0)
Requirement already satisfied: Werkzeug>=0.14 in c:\users\jasmi\anaconda3\lib\site-packages (from Flask>=0.10->flask_sqlalchemy) (0.14.1)
Requirement already satisfied: Jinja2>=2.10 in c:\users\jasmi\anaconda3\lib\site-packages (from Flask>=0.10->flask_sqlalchemy) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jasmi\anaconda3\lib\site-packages (from Jinja2>=2.10->Flask>=0.10->flask_sqlalchemy) (1.1.0)

In [2]:
! pip install folium

Collecting folium
  Downloading https://files.pythonhosted.org/packages/4f/86/1ab30184cb60bc2b95deffe2bd86b8ddbab65a4fac9f7313c278c6e8d049/folium-0.9.1-py2.py3-none-any.whl (91kB)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/63/36/1c93318e9653f4e414a2e0c3b98fc898b4970e939afeedeee6075dd3b703/branca-0.3.1-py3-none-any.whl
Requirement already satisfied: numpy in c:\users\jasmi\anaconda3\lib\site-packages (from folium) (1.15.4)
Requirement already satisfied: jinja2>=2.9 in c:\users\jasmi\anaconda3\lib\site-packages (from folium) (2.10)
Requirement already satisfied: requests in c:\users\jasmi\anaconda3\lib\site-packages (from folium) (2.21.0)
Requirement already satisfied: six in c:\users\jasmi\appdata\roaming\python\python37\site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jasmi\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\jasmi\anaconda3\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\jasmi\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\jasmi\anaconda3\lib\site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jasmi\anaconda3\lib\site-packages (from requests->folium) (2018.11.29)
Installing collected packages: branca, folium
Successfully installed branca-0.3.1 folium-0.9.1

In [4]:
import os

import pandas as pd
import numpy as np
import pymysql

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func, distinct

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

pymysql.install_as_MySQLdb()

app = Flask(__name__)



# # reflect an existing database into a new model
# Base = automap_base()
# # reflect the tables
# Base.prepare(engine, reflect=True)
#
# # print table names
# print(engine.table_names())
# # Save reference to the table
# Hale = Base.classes.hale


app.config["SQLALCHEMY_DATABASE_URI"] = "mysql://rl91qzpzgty8oaf1:evamhxfd7l42mgso@y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/v21ogkg4wvsne316"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
Hale = Base.classes.hale
LexByCountry = Base.classes.lexbycountry
#
#

C:\Users\jasmi\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [5]:
stmt = db.session.query(LexByCountry).statement
df = pd.read_sql_query(stmt, db.session.bind)
df

,Country,Year,LEX at birth Both sexes,LEX at birth Male,LEX at birth Female,LEX at age 60 Both sexes,LEX at age 60 Male,LEX at age 60 Female,HALE at birth Both sexes,HALE at birth Male,HALE at birth Female,HALE at age 60 Both sexes,HALE at age 60 Male,HALE at age 60 Female
0,Afghanistan,0000-00-00 00:00:00,62.7,61.0,64.5,16.3,15.5,17.1,53.0,52.1,54.1,11.3,10.9,11.7
1,Afghanistan,2000-01-01 00:00:00,55.9,54.6,57.3,15.1,14.5,15.9,46.9,46.2,47.7,10.3,10.1,10.6
2,Afghanistan,2001-01-01 00:00:00,56.5,55.3,57.9,15.2,14.5,15.9,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,2002-01-01 00:00:00,57.4,56.5,58.5,15.2,14.5,16.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,2003-01-01 00:00:00,58.0,56.9,59.1,15.4,14.7,16.1,0.0,0.0,0.0,0.0,0.0,0.0
5,Afghanistan,2004-01-01 00:00:00,58.4,57.4,59.6,15.4,14.7,16.2,0.0,0.0,0.0,0.0,0.0,0.0
6,Afghanistan,2005-01-01 00:00:00,58.9,57.8,60.1,15.5,14.8,16.3,49.6,49.1,50.2,10.7,10.4,11.0
7,Afghanistan,2006-01-01 00:00:00,59.2,58.0,60.5,15.6,14.9,16.4,0.0,0.0,0.0,0.0,0.0,0.0
8,Afghanistan,2007-01-01 00:00:00,59.6,58.4,61.0,15.7,15.0,16.5,0.0,0.0,0.0,0.0,0.0,0.0
9,Afghanistan,2008-01-01 00:00:00,60.2,59.0,61.6,15.8,15.0,16.6,0.0,0.0,0.0,0.0,0.0,0.0
10,Afghanistan,2009-01-01 00:00:00,60.7,59.5,62.1,15.9,15.1,16.6,0.0,0.0,0.0,0.0,0.0,0.0
11,Afghanistan,2010-01-01 00:00:00,61.2,59.9,62.5,15.9,15.2,16.7,51.6,50.9,52.3,11.0,10.6,11.3
12,Afghanistan,2011-01-01 00:00:00,61.7,60.5,63.1,16.0,15.3,16.8,0.0,0.0,0.0,0.0,0.0,0.0
13,Afghanistan,2012-01-01 00:00:00,62.2,60.9,63.6,16.1,15.3,16.8,0.0,0.0,0.0,0.0,0.0,0.0
14,Afghanistan,2013-01-01 00:00:00,62.7,61.5,64.1,16.2,15.4,16.9,0.0,0.0,0.0,0.0,0.0,0.0
15,Afghanistan,2014-01-01 00:00:00,63.0,61.7,64.4,16.2,15.4,17.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Afghanistan,2015-01-01 00:00:00,63.2,61.8,64.7,16.3,15.5,17.1,53.2,52.6,54.1,11.2,10.8,11.6
17,Afghanistan,2016-01-01 00:00:00,62.7,61.0,64.5,16.3,15.5,17.1,53.0,52.1,54.1,11.3,10.9,11.7
18,Albania,0000-00-00 00:00:00,76.4,74.3,78.6,20.8,19.4,22.3,68.1,66.7,69.6,16.3,15.3,17.4
19,Albania,2000-01-01 00:00:00,73.1,70.4,76.0,18.9,17.3,20.8,64.9,62.9,67.2,14.7,13.5,16.1
20,Albania,2001-01-01 00:00:00,74.0,71.6,76.7,19.6,18.1,21.3,0.0,0.0,0.0,0.0,0.0,0.0
21,Albania,2002-01-01 00:00:00,73.5,71.4,75.9,19.1,17.7,20.5,0.0,0.0,0.0,0.0,0.0,0.0
22,Albania,2003-01-01 00:00:00,72.9,70.8,75.2,18.4,17.1,19.8,0.0,0.0,0.0,0.0,0.0,0.0
23,Albania,2004-01-01 00:00:00,73.3,71.0,75.8,18.6,17.2,20.1,0.0,0.0,0.0,0.0,0.0,0.0
24,Albania,2005-01-01 00:00:00,73.5,71.6,75.6,18.9,17.7,20.4,65.4,64.0,67.0,14.7,13.8,15.8
25,Albania,2006-01-01 00:00:00,73.9,71.8,76.2,19.0,17.8,20.3,0.0,0.0,0.0,0.0,0.0,0.0
26,Albania,2007-01-01 00:00:00,74.1,71.9,76.4,19.2,17.9,20.5,0.0,0.0,0.0,0.0,0.0,0.0
27,Albania,2008-01-01 00:00:00,74.2,72.1,76.5,19.4,18.1,20.7,0.0,0.0,0.0,0.0,0.0,0.0
28,Albania,2009-01-01 00:00:00,74.4,72.3,76.7,19.6,18.4,20.9,0.0,0.0,0.0,0.0,0.0,0.0
29,Albania,2010-01-01 00:00:00,74.7,72.5,77.0,19.8,18.6,21.2,66.4,64.7,68.2,15.4,14.5,16.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2524,Solomon Islands,2004-01-01 00:00:00,67.9,66.6,69.2,16.5,15.8,17.4,0.0,0.0,0.0,0.0,0.0,0.0
2525,Solomon Islands,2005-01-01 00:00:00,68.2,66.9,69.5,16.6,15.9,17.5,59.3,59.0,59.7,12.1,11.8,12.5
2526,Solomon Islands,2006-01-01 00:00:00,68.5,67.3,69.8,16.7,16.0,17.6,0.0,0.0,0.0,0.0,0.0,0.0
2527,Solomon Islands,2007-01-01 00:00:00,68.5,67.2,69.9,16.8,16.0,17.6,0.0,0.0,0.0,0.0,0.0,0.0
2528,Solomon Islands,2008-01-01 00:00:00,69.1,67.9,70.4,16.9,16.2,17.8,0.0,0.0,0.0,0.0,0.0,0.0
2529,Solomon Islands,2009-01-01 00:00:00,69.3,68.0,70.7,17.0,16.2,17.9,0.0,0.0,0.0,0.0,0.0,0.0
2530,Solomon Islands,2010-01-01 00:00:00,69.7,68.4,71.1,17.1,16.4,18.0,60.6,60.2,61.1,12.6,12.3,13.0
2531,Solomon Islands,2011-01-01 00:00:00,70.0,68.7,71.4,17.2,16.5,18.2,0.0,0.0,0.0,0.0,0.0,0.0
2532,Solomon Islands,2012-01-01 00:00:00,70.2,68.9,71.6,17.3,16.5,18.3,0.0,0.0,0.0,0.0,0.0,0.0
2533,Solomon Islands,2013-01-01 00:00:00,70.4,69.1,71.9,17.4,16.6,18.4,0.0,0.0,0.0,0.0,0.0,0.0
2534,Solomon Islands,2014-01-01 00:00:00,70.5,69.1,72.0,17.5,16.6,18.4,0.0,0.0,0.0,0.0,0.0,0.0
2535,Solomon Islands,2015-01-01 00:00:00,70.9,69.5,72.4,17.6,16.8,18.6,61.7,61.2,62.3,13.0,12.6,13.5
2536,Solomon Islands,2016-01-01 00:00:00,71.1,69.7,72.7,17.7,16.8,18.7,61.9,61.4,62.5,13.1,12.7,13.6
2537,Somalia,2007-01-01 00:00:00,51.7,50.1,53.3,15.9,15.3,16.5,0.0,0.0,0.0,0.0,0.0,0.0
2538,Somalia,2008-01-01 00:00:00,52.2,50.7,53.8,16.0,15.4,16.5,0.0,0.0,0.0,0.0,0.0,0.0
2539,Somalia,2009-01-01 00:00:00,52.7,51.2,54.3,16.0,15.5,16.6,0.0,0.0,0.0,0.0,0.0,0.0
2540,Somalia,2010-01-01 00:00:00,53.0,51.4,54.7,16.1,15.5,16.6,47.6,46.5,48.8,12.3,12.0,12.5
2541,Somalia,2011-01-01 00:00:00,53.7,52.1,55.3,16.1,15.6,16.6,0.0,0.0,0.0,0.0,0.0,0.0
2542,Somalia,2012-01-01 00:00:00,53.9,52.2,55.6,16.1,15.6,16.7,0.0,0.0,0.0,0.0,0.0,0.0
2543,Somalia,2013-01-01 00:00:00,54.8,53.4,56.3,16.2,15.7,16.7,0.0,0.0,0.0,0.0,0.0,0.0
2544,Somalia,2014-01-01 00:00:00,55.1,53.6,56.7,16.2,15.7,16.8,0.0,0.0,0.0,0.0,0.0,0.0
2545,Somalia,2015-01-01 00:00:00,55.6,54.1,57.1,16.3,15.8,16.8,50.1,49.1,51.1,12.7,12.5,12.8
2546,Somalia,2016-01-01 00:00:00,55.4,53.7,57.3,16.3,15.7,16.8,50.0,48.8,51.3,12.7,12.5,12.9
2547,Spain,0000-00-00 00:00:00,83.1,80.3,85.7,25.4,23.1,27.5,73.8,72.2,75.4,20.3,18.7,21.8
2548,Sri Lanka,0000-00-00 00:00:00,75.3,72.1,78.5,20.8,19.5,21.9,66.8,64.4,69.3,16.1,15.1,16.9
2549,Sudan,0000-00-00 00:00:00,65.1,63.4,66.9,17.9,17.3,18.5,55.7,54.7,56.8,13.0,12.7,13.3
2550,Suriname,0000-00-00 00:00:00,71.8,68.7,75.1,19.2,17.1,21.2,63.2,61.0,65.4,14.7,13.2,16.0
2551,Sweden,0000-00-00 00:00:00,82.4,80.6,84.1,24.6,23.2,25.8,72.4,71.5,73.4,19.2,18.2,20.1
2552,Switzerland,0000-00-00 00:00:00,83.3,81.2,85.2,25.5,23.8,26.9,73.5,72.4,74.5,20.1,19.0,21.2
2553,Syrian Arab Republic,0000-00-00 00:00:00,63.8,59.4,68.9,18.5,17.5,19.4,55.8,52.5,59.5,13.9,13.3,14.5

In [4]:
file_one = "assets/data/hale.csv"

In [5]:
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
file_one_df.head()

,Country,At Birth Both sexes 2016,At Birth Both sexes 2015,At Birth Both sexes 2010,At Birth Both sexes 2005,At Birth Both sexes 2000,At Birth Male 2016,At Birth Male 2015,At Birth Male 2010,At Birth Male 2005,...,At age 60 (years) Male 2016,At age 60 (years) Male 2015,At age 60 (years) Male 2010,At age 60 (years) Male 2005,At age 60 (years) Male 2000,At age 60 (years) Female 2016,At age 60 (years) Female 2015,At age 60 (years) Female 2010,At age 60 (years) Female 2005,At age 60 (years) Female 2000
0,Afghanistan,53.0,53.2,51.6,49.6,46.9,52.1,52.6,50.9,49.1,...,10.9,10.8,10.6,10.4,10.1,11.7,11.6,11.3,11.0,10.6
1,Albania,68.1,67.8,66.4,65.4,64.9,66.7,66.5,64.7,64.0,...,15.3,15.1,14.5,13.8,13.5,17.4,16.9,16.4,15.8,16.1
2,Algeria,65.5,65.3,64.5,62.8,60.7,65.4,65.2,64.4,62.7,...,15.7,15.6,15.1,14.4,13.2,15.8,15.7,15.1,14.5,13.7
3,Angola,55.8,55.3,51.8,46.7,41.9,53.8,53.3,49.9,44.9,...,12.9,12.8,12.1,11.3,10.5,14.3,14.2,13.4,12.6,11.8
4,Antigua and Barbuda,67.0,66.9,66.5,65.4,64.6,65.2,65.1,64.8,64.0,...,14.0,14,14.6,14.4,13.1,17.1,17,16.7,15.9,16

In [6]:
selected_file_one = file_one_df.loc[:, ["Country","At Birth Both sexes 2016", "At Birth Male 2016", "At Birth Female 2016"]]

In [7]:
renamed_one_df = selected_file_one.rename(columns={"At Birth Both sexes 2016":"Both sexes HALE", "At Birth Male 2016":"Male HALE","At Birth Female 2016":"Female HALE" })
renamed_one_df.head()

               Country  Both sexes HALE  Male HALE  Female HALE
0          Afghanistan             53.0       52.1         54.1
1              Albania             68.1       66.7         69.6
2              Algeria             65.5       65.4         65.6
3               Angola             55.8       53.8         57.7
4  Antigua and Barbuda             67.0       65.2         68.8

In [8]:
file_two = "assets/data/glucose.csv"
file_two_df = pd.read_csv(file_two, encoding="ISO-8859-1")

In [9]:
selected_file_two = file_two_df.loc[:, ["Country","Both_sexes_2014", "Male_2014", "Female_2014"]]

In [10]:
renamed_two_df = selected_file_two.rename(columns={"Both_sexes_2014":"Both sexes Glucose", "Male_2014":"Male Glucose","Female_2014":"Female Glucose" })

In [11]:
renamed_two_df["Both sexes Glucose"]= renamed_two_df["Both sexes Glucose"].str.split("[", n = 1, expand = True) 
renamed_two_df["Male Glucose"]= renamed_two_df["Male Glucose"].str.split("[", n = 1, expand = True)
renamed_two_df["Female Glucose"]= renamed_two_df["Female Glucose"].str.split("[", n = 1, expand = True)
renamed_two_df.head()

       Country Both sexes Glucose Male Glucose Female Glucose
0  Afghanistan              11.9         11.6           12.2
1      Albania               7.4          7.7            7.1
2      Algeria              12.4         12.3           12.6
3      Andorra               6.9          8.1            5.8
4       Angola               8.2          8.5            7.8

In [12]:
renamed_two_df.to_csv("assets/data/glucoselevel2014.csv", index=False, header=True)

In [13]:
file_three = "assets/data/lexbycountry.csv"
file_three_df = pd.read_csv(file_three, encoding="ISO-8859-1")

In [14]:
selected_file_three = file_three_df.loc[:, ["Country","Year", "LEX_at_birth_Both_sexes", "LEX_at_birth_Male", "LEX_at_birth_Female"]]

In [15]:
renamed_three_df = selected_file_three.rename(columns={"LEX_at_birth_Both_sexes":"Both sexes LEX", "LEX_at_birth_Male":"Male LEX","LEX_at_birth_Female":"Female LEX" })

In [16]:
renamed_three_df_filtered = renamed_three_df[renamed_three_df['Year'] >= 2016] 
renamed_three_df_filtered.head()

                Country  Year Both sexes LEX Male LEX Female LEX
0           Afghanistan  2016           62.7       61       64.5
17              Albania  2016           76.4     74.3       78.6
34              Algeria  2016           76.4     75.4       77.4
51               Angola  2016           62.6     60.3       64.9
68  Antigua and Barbuda  2016             75     72.5       77.5

In [17]:
file_four = "assets/data/NCDdeaths.csv"
file_four_df= pd.read_csv(file_four, encoding="ISO-8859-1")

In [18]:
file_four_df.columns = file_four_df.iloc[0]
file_four_df_header = file_four_df[1:]

In [19]:
renamed_four_df = file_four_df_header.rename(columns={"Both sexes":"Both sexes NCD", "Male":"Male NCD","Female":"Female NCD" })
renamed_four_df.head()

,Country,Year,Causes,Both sexes NCD,Male NCD,Female NCD
1,Afghanistan,2016,Malignant neoplasms,19965,10702,9263
2,Afghanistan,2016,Diabetes mellitus,7056,2437,4620
3,Afghanistan,2016,Cardiovascular diseases,51244,26828,24416
4,Afghanistan,2016,Chronic obstructive pulmonary disease,6715,3560,3154
5,Afghanistan,2015,Malignant neoplasms,19290,10319,8972

In [20]:
renamed_four_df.dtypes

0
Country           object
Year              object
Causes            object
Both sexes NCD    object
Male NCD          object
Female NCD        object
dtype: object

In [21]:
renamed_four_df["Year"] = pd.to_numeric(
    renamed_four_df["Year"])
renamed_four_df.dtypes

0
Country           object
Year               int64
Causes            object
Both sexes NCD    object
Male NCD          object
Female NCD        object
dtype: object

In [22]:
renamed_four_df_filtered = renamed_four_df[renamed_four_df['Year'] >= 2016] 
renamed_four_df_filtered.head()

,Country,Year,Causes,Both sexes NCD,Male NCD,Female NCD
1,Afghanistan,2016,Malignant neoplasms,19965,10702,9263
2,Afghanistan,2016,Diabetes mellitus,7056,2437,4620
3,Afghanistan,2016,Cardiovascular diseases,51244,26828,24416
4,Afghanistan,2016,Chronic obstructive pulmonary disease,6715,3560,3154
21,Albania,2016,Malignant neoplasms,5138,2903,2235

In [23]:
renamed_four_df_filtered.to_csv("assets/data/NCD2016.csv", index=False, header=True)

In [24]:
file_four_NCD = "assets/data/NCD.csv"
file_four_NCD_df= pd.read_csv(file_four_NCD, encoding="ISO-8859-1")
file_four_NCD_df

,Unnamed: 0,Unnamed: 1,"Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.1","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease.2"
0,Country,Year,Both sexes,Male,Female
1,Afghanistan,2016,29.8,31.8,27.7
2,Afghanistan,2015,29.8,31.9,27.8
3,Afghanistan,2010,31.7,34.1,29.4
4,Afghanistan,2005,34.1,36.5,31.6
5,Afghanistan,2000,34.4,36.6,32.1
6,Albania,2016,17.0,20.7,13.1
7,Albania,2015,17.4,20.9,13.7
8,Albania,2010,18.6,22.3,14.6
9,Albania,2005,18.8,22.1,15.0
10,Albania,2000,19.4,23.1,14.9
11,Algeria,2016,14.2,15.2,13.2
12,Algeria,2015,14.4,15.4,13.3
13,Algeria,2010,15.4,16.4,14.4
14,Algeria,2005,17.6,18.9,16.2
15,Algeria,2000,21.1,23.1,19.1
16,Angola,2016,16.5,17.2,16.0
17,Angola,2015,16.9,17.6,16.3
18,Angola,2010,18.1,18.6,17.8
19,Angola,2005,21.3,21.5,21.2
20,Angola,2000,24.0,24.2,23.8
21,Antigua and Barbuda,2016,22.6,25.2,20.0
22,Antigua and Barbuda,2015,22.6,25.5,19.7
23,Antigua and Barbuda,2010,21.6,24.2,19.3
24,Antigua and Barbuda,2005,21.6,21.8,21.3
25,Antigua and Barbuda,2000,23.4,26.8,20.8
26,Argentina,2016,15.8,19.7,12.2
27,Argentina,2015,16.1,20.2,12.4
28,Argentina,2010,17.8,22.8,13.2
29,Argentina,2005,18.9,24.6,13.6
...,...,...,...,...,...
886,Vanuatu,2016,23.3,27.2,19.2
887,Vanuatu,2015,23.7,27.6,19.6
888,Vanuatu,2010,24.9,28.2,21.1
889,Vanuatu,2005,25.6,28.4,22.3
890,Vanuatu,2000,27.9,30.8,24.4
891,Venezuela (Bolivarian Republic of),2016,18.1,21.8,14.5
892,Venezuela (Bolivarian Republic of),2015,18.2,21.9,14.6
893,Venezuela (Bolivarian Republic of),2010,18.4,22.0,14.9
894,Venezuela (Bolivarian Republic of),2005,19.4,22.8,16.2
895,Venezuela (Bolivarian Republic of),2000,21.6,24.9,18.3
896,Viet Nam,2016,17.1,23.4,11.5
897,Viet Nam,2015,17.3,23.6,11.6
898,Viet Nam,2010,18.0,24.8,12.1
899,Viet Nam,2005,18.4,25.2,12.4
900,Viet Nam,2000,18.6,25.3,12.7
901,Yemen,2016,30.6,33.2,28.2
902,Yemen,2015,30.7,33.3,28.2
903,Yemen,2010,31.9,34.5,29.4
904,Yemen,2005,32.6,35.2,30.1
905,Yemen,2000,33.1,35.7,30.5
906,Zambia,2016,17.9,18.5,17.4
907,Zambia,2015,18.0,18.6,17.6
908,Zambia,2010,19.9,19.8,20.0
909,Zambia,2005,21.1,20.4,21.7
910,Zambia,2000,23.2,21.8,24.4
911,Zimbabwe,2016,19.3,18.7,19.8
912,Zimbabwe,2015,19.4,18.6,19.9
913,Zimbabwe,2010,21.1,20.5,21.5
914,Zimbabwe,2005,22.5,22.1,22.9
915,Zimbabwe,2000,21.6,21.6,21.7

In [25]:
file_four_NCD_df["Unnamed: 1"] = pd.to_numeric(
    file_four_NCD_df["Unnamed: 1"])
file_four_NCD_df.dtypes

ValueError: Unable to parse string "Year" at position 0

In [26]:
renamed_file_four_NCD_df_filtered = file_four_NCD_df[file_four_NCD_df['Unnamed: 1'] >= 2016] 
renamed_file_four_NCD_df_filtered.head()

TypeError: '>=' not supported between instances of 'str' and 'int'

In [27]:
file_five = "assets/data/obesity.csv"
file_five_df = pd.read_csv(file_five, encoding="ISO-8859-1")

In [28]:
selected_file_five = file_five_df.loc[:, ["Country","Both_sexes_2016", "Male_2016", "Female_2016"]]

In [29]:
renamed_five_df = selected_file_five.rename(columns={"Both_sexes_2016":"Both sexes Obesity", "Male_2016":"Male Obesity","Female_2016":"Female Obesity"})
renamed_five_df.head()

,Country,Both sexes Obesity,Male Obesity,Female Obesity
0,Afghanistan,5.5 [3.4-8.1],3.2 [1.3-6.4],7.6 [4.3-12.4]
1,Albania,21.7 [17.0-26.7],21.6 [14.8-29.0],21.8 [15.3-28.9]
2,Algeria,27.4_[22.5-32.7]_Both_sexes_2016,19.9_[13.6-27.1]_Male_2016,34.9_[27.6-42.7]_Female_2016
3,Andorra,25.6 [20.1-31.3],25.9 [18.0-34.3],25.3 [17.7-33.7]
4,Angola,8.2 [5.1-12.2],4.0 [1.6-7.9],12.1 [6.8-19.0]

In [30]:
renamed_five_df["Both sexes Obesity"]= renamed_five_df["Both sexes Obesity"].str.split("[", n = 1, expand = True) 
renamed_five_df["Male Obesity"]= renamed_five_df["Male Obesity"].str.split("[", n = 1, expand = True)
renamed_five_df["Female Obesity"]= renamed_five_df["Female Obesity"].str.split("[", n = 1, expand = True)
renamed_five_df["Both sexes Obesity"]= renamed_five_df["Both sexes Obesity"].str.split("_", n = 1, expand = True) 
renamed_five_df["Male Obesity"]= renamed_five_df["Male Obesity"].str.split("_", n = 1, expand = True)
renamed_five_df["Female Obesity"]= renamed_five_df["Female Obesity"].str.split("_", n = 1, expand = True)
renamed_five_df.head()

       Country Both sexes Obesity Male Obesity Female Obesity
0  Afghanistan               5.5          3.2            7.6
1      Albania              21.7         21.6           21.8
2      Algeria               27.4         19.9           34.9
3      Andorra              25.6         25.9           25.3
4       Angola               8.2          4.0           12.1

In [31]:
renamed_five_df.to_csv("assets/data/obesity2016.csv", index=False, header=True)

In [3]:
file_six = "assets/data/daly.csv"
file_six_df = pd.read_csv(file_six, encoding="ISO-8859-1")
file_six_df

,Sex,GHE code,Unnamed: 2,GHE cause,Unnamed: 4,Unnamed: 5,Member State (See Notes for explanation of colour codes),Afghanistan,Albania,Algeria,...,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe,Unnamed: 190
0,NaN,NaN,NaN,NaN,NaN,NaN,ISO-3 Code,AFG,ALB,DZA,...,USA,URY,UZB,VUT,VEN,VNM,YEM,ZMB,ZWE,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,4,...,1,2,1,4,2,4,4,5,5,NaN
2,Persons,NaN,NaN,Population ('000) (2),NaN,NaN,NaN,"34,656","2,926","40,606",...,"322,180","3,444","31,447",270,"31,568","94,569","27,584","16,591","16,150",NaN
3,Persons,0.0,NaN,All Causes,NaN,NaN,NaN,18144.4,883.9,10833.0,...,100384.2,1048.7,8579.3,76.9,9033.5,25192.8,12374.6,8883.4,8437.3,NaN
4,Persons,10.0,I.,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,7896.1,51.4,2334.2,...,5214.5,79.1,1741.2,21.8,1304.9,4238.7,4887.3,5671.0,4928.2,NaN
5,Persons,20.0,NaN,A.,Infectious and parasitic diseases,NaN,NaN,2336.7,10.0,460.0,...,1699.0,26.0,387.1,8.0,478.0,1861.7,1284.1,3211.4,2643.3,NaN
6,Persons,30.0,NaN,NaN,1.,Tuberculosis,NaN,504.6,0.3,97.7,...,16.2,2.5,86.5,0.9,29.9,391.9,79.3,246.2,70.0,NaN
7,Persons,40.0,NaN,NaN,2.,STDs excluding HIV,NaN,232.7,1.2,59.7,...,67.1,0.9,23.1,0.9,14.6,66.2,328.8,57.2,54.4,NaN
8,Persons,50.0,NaN,NaN,NaN,a.,Syphilis,198.3,0.1,9.7,...,13.9,0.3,4.9,0.8,5.6,24.0,298.6,43.4,35.5,NaN
9,Persons,60.0,NaN,NaN,NaN,b.,Chlamydia,4.6,0.3,6.6,...,11.1,0.2,6.6,0.0,3.3,22.0,4.2,4.1,3.8,NaN
10,Persons,70.0,NaN,NaN,NaN,c.,Gonorrhoea,22.7,0.3,32.8,...,8.3,0.1,6.1,0.0,1.8,2.7,19.6,4.2,9.2,NaN
11,Persons,80.0,NaN,NaN,NaN,d.,Trichomoniasis,0.5,0.1,0.7,...,10.8,0.1,1.1,0.0,1.3,1.3,0.4,1.5,0.9,NaN
12,Persons,85.0,NaN,NaN,NaN,e.,Genital herpes,0.6,0.1,1.1,...,14.1,0.1,0.7,0.0,1.3,3.1,0.6,0.9,0.8,NaN
13,Persons,90.0,NaN,NaN,NaN,f.,Other STDs,6.1,0.2,8.7,...,8.8,0.1,3.8,0.0,1.2,13.0,5.4,3.2,4.2,NaN
14,Persons,100.0,NaN,NaN,3.,HIV/AIDS,NaN,19.6,1.1,10.2,...,396.7,10.2,32.0,0.0,144.3,416.6,21.5,1441.0,1738.5,NaN
15,Persons,110.0,NaN,NaN,4.,Diarrhoeal diseases,NaN,709.7,2.2,154.8,...,274.1,3.5,85.9,3.7,120.6,313.1,435.8,532.4,391.1,NaN
16,Persons,120.0,NaN,NaN,5.,Childhood-cluster diseases,NaN,207.2,0.2,10.2,...,2.3,0.3,2.3,0.3,3.7,22.9,52.0,34.4,18.0,NaN
17,Persons,130.0,NaN,NaN,NaN,a.,Whooping cough,19.1,0.0,0.2,...,2.2,0.3,0.0,0.1,3.2,4.3,9.3,2.4,2.9,NaN
18,Persons,140.0,NaN,NaN,NaN,b.,Diphtheria,1.9,0.0,0.1,...,0.1,0.0,0.1,0.0,0.0,0.3,0.5,0.2,0.2,NaN
19,Persons,150.0,NaN,NaN,NaN,c.,Measles,68.1,0.0,5.9,...,0.0,0.0,0.0,0.0,0.0,3.4,6.1,12.5,5.8,NaN
20,Persons,160.0,NaN,NaN,NaN,d.,Tetanus,118.1,0.2,4.0,...,0.0,0.0,2.1,0.2,0.4,14.9,36.1,19.2,9.1,NaN
21,Persons,170.0,NaN,NaN,6.,Meningitis,NaN,255.0,1.5,32.3,...,41.6,0.5,15.7,0.5,21.6,68.7,77.4,172.5,129.8,NaN
22,Persons,180.0,NaN,NaN,7.,Encephalitis,NaN,19.8,1.6,19.2,...,170.8,4.9,41.2,0.1,19.4,102.9,22.7,7.8,20.8,NaN
23,Persons,185.0,NaN,NaN,8.,Hepatitis,NaN,17.8,0.1,13.9,...,69.8,0.3,35.0,0.1,6.4,25.4,9.8,26.1,5.2,NaN
24,Persons,186.0,NaN,NaN,NaN,a.,Acute hepatitis A,1.7,0.0,1.5,...,18.4,0.1,14.9,0.0,0.6,1.5,0.8,1.1,0.2,NaN
25,Persons,190.0,NaN,NaN,NaN,b.,Acute hepatitis B,10.9,0.1,8.6,...,24.0,0.2,15.6,0.0,2.5,21.0,7.2,19.7,3.1,NaN
26,Persons,200.0,NaN,NaN,NaN,c.,Acute hepatitis C,0.2,0.0,0.2,...,0.1,0.0,0.1,0.0,0.0,0.6,0.2,0.6,0.1,NaN
27,Persons,205.0,NaN,NaN,NaN,d.,Acute hepatitis E,5.1,0.0,3.5,...,27.3,0.1,4.5,0.0,3.2,2.2,1.6,4.6,1.8,NaN
28,Persons,210.0,NaN,NaN,9.,Parasitic and vector diseases,NaN,234.6,0.3,13.4,...,8.2,0.8,5.8,0.3,52.4,91.9,128.3,574.7,166.4,NaN
29,Persons,220.0,NaN,NaN,NaN,a.,Malaria,19.5,.,0.1,...,0.0,.,0.0,0.2,7.7,1.2,73.3,517.1,136.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,Females,1370.0,NaN,NaN,3.,Gout,NaN,0.4,0.1,1.0,...,24.8,0.2,0.8,0.0,0.8,3.6,0.4,0.3,0.3,NaN
625,Females,1380.0,NaN,NaN,4.,Back and neck pain,NaN,89.8,16.5,163.7,...,1596.4,17.5,100.5,0.7,77.8,310.0,79.1,24.6,28.2,NaN
626,Females,1390.0,NaN,NaN,5.,Other musculoskeletal disorders,NaN,50.0,1.6,106.9,...,1440.6,11.7,24.2,0.6,81.9,243.9,55.2,17.2,17.6,NaN
627,Females,1400.0,NaN,N.,Congenital anomalies,NaN,NaN,327.2,8.9,234.9,...,693.7,9.8,137.0,1.6,120.3,393.1,225.1,125.1,125.1,NaN
628,Females,1410.0,NaN,NaN,1.,Neural tube defects,NaN,50.4,0.8,15.9,...,48.5,0.7,20.5,0.1,10.5,17.7,32.4,17.9,12.6,NaN
629,Females,1420.0,NaN,NaN,2.,Cleft lip and cleft palate,NaN,0.6,0.0,0.2,...,1.1,0.0,0.2,0.0,0.3,0.8,0.3,1.3,2.2,NaN
630,Females,1430.0,NaN,NaN,3.,Down syndrome,NaN,5.2,0.3,11.0,...,38.2,0.9,3.2,0.1,7.8,6.8,4.6,2.1,6.6,NaN
631,Females,1440.0,NaN,NaN,4.,Congenital heart anomalies,NaN,109.7,4.7,77.8,...,153.1,3.5,64.1,0.5,45.2,209.3,70.7,31.3,30.4,NaN
632,Females,1450.0,NaN,NaN,5.,Other chromosomal anomalies,NaN,14.4,0.6,21.9,...,117.0,1.0,5.9,0.1,6.3,13.7,12.2,9.5,10.4,NaN
633,Females,1460.0,NaN,NaN,6.,Other congenital anomalies,NaN,147.0,2.6,108.1,...,335.8,3.6,43.1,0.8,50.2,144.8,105.0,63.0,62.9,NaN
634,Females,1470.0,NaN,O.,Oral conditions,NaN,NaN,27.1,5.6,51.3,...,573.8,7.0,44.7,0.2,54.2,88.5,24.1,11.8,14.5,NaN
635,Females,1480.0,NaN,NaN,1.,Dental caries,NaN,4.3,0.4,4.8,...,44.0,0.7,4.5,0.0,5.9,9.8,3.5,1.8,1.5,NaN
636,Females,1490.0,NaN,NaN,2.,Periodontal disease,NaN,5.7,0.9,12.0,...,64.4,1.7,6.3,0.0,11.2,17.2,5.1,3.2,0.7,NaN
637,Females,1500.0,NaN,NaN,3.,Edentulism,NaN,9.3,3.4,23.1,...,360.8,3.4,25.0,0.1,27.7,31.9,8.8,2.8,8.4,NaN
638,Females,1502.0,NaN,NaN,4.,Other oral disorders,NaN,7.8,0.9,11.5,...,104.6,1.1,9.0,0.1,9.3,29.5,6.8,4.0,4.0,NaN
639,Females,1505.0,NaN,P.,Sudden infant death syndrome,NaN,NaN,18.5,0.6,12.4,...,56.9,0.3,3.6,0.0,0.7,11.9,24.4,6.4,1.7,NaN
640,Females,1510.0,III.,Injuries,NaN,NaN,NaN,1191.3,29.8,355.0,...,3511.8,34.0,274.1,2.0,290.2,771.0,565.5,301.3,315.0,NaN
641,Females,1520.0,NaN,A.,Unintentional injuries,NaN,NaN,460.5,23.7,305.2,...,2653.1,25.1,213.1,1.7,212.9,656.4,373.9,253.5,252.6,NaN
642,Females,1530.0,NaN,NaN,1.,Road injury,NaN,80.6,6.6,132.3,...,761.0,6.1,41.6,0.8,119.3,252.6,126.2,84.0,132.6,NaN
643,Females,1540.0,NaN,NaN,2.,Poisonings,NaN,23.1,0.4,9.5,...,70.2,0.2,6.5,0.0,2.1,3.4,28.8,13.8,14.1,NaN
644,Females,1550.0,NaN,NaN,3.,Falls,NaN,171.0,9.7,44.9,...,1054.5,5.5,52.4,0.1,34.4,157.6,43.1,30.0,13.0,NaN
645,Females,1560.0,NaN,NaN,4.,"Fire, heat and hot substances",NaN,21.3,0.8,23.5,...,102.8,1.4,23.4,0.1,6.0,17.9,43.2,26.5,24.2,NaN
646,Females,1570.0,NaN,NaN,5.,Drowning,NaN,37.1,0.7,12.0,...,54.8,0.7,22.0,0.2,7.0,89.2,33.1,23.4,11.4,NaN
647,Females,1575.0,NaN,NaN,6.,Exposure to mechanical forces,NaN,33.4,2.2,16.4,...,149.2,1.7,14.5,0.1,6.3,24.5,25.2,12.5,13.6,NaN
648,Females,1580.0,NaN,NaN,7.,Natural disasters,NaN,0.9,0.0,0.3,...,4.2,0.0,.,0.0,1.0,0.8,0.1,0.0,0.0,NaN
649,Females,1590.0,NaN,NaN,8.,Other unintentional injuries,NaN,93.1,3.5,66.2,...,456.4,9.4,52.8,0.4,36.9,110.4,74.2,63.4,43.7,NaN
650,Females,1600.0,NaN,B.,Intentional injuries,NaN,NaN,730.8,6.1,49.8,...,858.8,8.9,61.0,0.3,77.3,114.6,191.6,47.9,62.4,NaN
651,Females,1610.0,NaN,NaN,1.,Self-harm,NaN,15.7,3.6,17.8,...,551.4,6.2,49.6,0.2,10.2,76.1,46.9,14.2,20.2,NaN
652,Females,1620.0,NaN,NaN,2.,Interpersonal violence,NaN,13.6,2.2,27.2,...,303.8,2.7,11.2,0.2,66.9,36.2,33.4,33.5,42.1,NaN
653,Females,1630.0,NaN,NaN,3.,Collective violence and legal intervention,NaN,701.4,0.3,4.7,...,3.5,0.0,0.1,0.0,0.2,2.3,111.3,0.2,0.1,NaN

In [5]:
modified_daly = "assets/data/Daly_cleaned.csv"
modified_daly_df = pd.read_csv(modified_daly, encoding="ISO-8859-1")
modified_daly_df

,Country,Infectious and parasitic diseases,Respiratory Infectious,Maternal conditions,Neonatal conditions,Nutritional deficiencies,Malignant neoplasms,Other neoplasms,Diabetes mellitus,"Endocrine, blood, immune disorders",...,Respiratory diseases,Digestive diseases,Genitourinary diseases,Skin diseases,Musculoskeletal diseases,Congenital anomalies,Oral conditions,Sudden infant death syndrome,Unintentional injuries,Intentional injuries
0,Afghanistan,2336.7,1424.9,225.3,3675.8,233.5,898.1,48.6,338.0,180.2,...,315.0,267.7,308.2,89.8,298.2,666.4,55.2,38.2,1329.8,2372.6
1,Albania,10.0,14.4,0.6,19.8,6.6,137.9,8.2,10.1,7.9,...,21.7,18.9,20.9,6.9,45.6,18.3,10.5,1.2,71.1,17.3
2,Algeria,460.0,461.5,62.0,1169.5,181.1,871.8,22.7,407.8,118.4,...,279.3,219.7,348.1,111.4,611.1,483.8,102.5,24.4,1023.3,195.5
3,Angola,5256.8,1866.6,214.4,2959.0,746.3,310.3,19.9,107.6,157.9,...,215.1,395.4,145.4,125.4,170.8,709.8,37.5,51.5,1277.6,287.8
4,Antigua and Barbuda,1.2,0.8,0.2,0.6,0.6,3.4,0.1,1.7,0.7,...,1.0,0.7,0.8,0.4,1.4,0.7,0.3,0.0,2.3,0.1
5,Argentina,444.1,613.6,29.1,372.0,88.9,1658.8,80.0,350.6,101.1,...,733.7,451.1,401.8,150.6,845.2,299.6,129.0,21.5,910.2,391.4
6,Armenia,18.3,14.0,0.6,26.1,8.2,208.1,2.2,36.5,4.9,...,26.8,36.4,28.6,7.2,42.3,19.7,12.2,0.3,70.9,12.9
7,Australia,59.4,81.3,2.4,75.3,14.5,998.8,27.2,156.6,60.1,...,312.4,138.3,105.5,70.7,527.9,69.8,97.4,5.5,342.0,168.4
8,Austria,21.5,27.7,0.4,23.5,7.3,451.9,12.6,76.8,37.8,...,98.6,80.5,61.9,22.5,164.8,31.5,46.4,0.7,157.8,56.8
9,Azerbaijan,117.8,93.6,3.1,242.0,44.7,346.2,1.2,70.9,31.9,...,67.1,107.7,75.3,22.4,113.7,88.1,31.7,3.5,213.6,40.0
10,Bahamas,14.8,3.0,0.3,3.2,1.5,14.5,0.2,5.3,1.5,...,2.4,3.0,3.6,1.5,6.1,1.3,1.4,0.1,6.4,6.7
11,Bahrain,7.5,3.9,0.3,8.3,6.5,15.4,0.3,22.3,5.9,...,6.8,4.8,9.0,3.6,21.1,8.8,3.4,0.1,18.3,6.1
12,Bangladesh,5486.9,2211.2,321.7,5069.7,1056.5,3404.3,70.0,1070.0,401.8,...,2315.1,1521.6,1094.5,508.6,2239.0,1463.4,295.3,127.6,3660.7,897.7
13,Barbados,4.3,4.9,0.1,2.7,1.2,16.5,0.6,7.5,1.9,...,2.9,2.8,3.8,1.0,5.5,1.7,1.3,0.1,4.7,1.5
14,Belarus,104.0,42.6,1.0,29.7,11.9,499.0,2.2,40.8,14.6,...,75.0,144.6,64.1,22.5,158.6,39.4,36.8,1.5,376.0,136.0
15,Belgium,44.5,89.4,1.2,30.4,14.3,616.8,25.9,66.5,38.7,...,175.6,114.2,80.6,33.6,224.6,35.9,58.5,2.0,224.4,101.3
16,Belize,12.0,3.6,0.2,7.1,2.2,9.1,0.3,5.6,1.0,...,3.0,3.3,3.7,1.3,4.0,3.1,0.9,0.1,8.3,7.1
17,Benin,1875.8,760.0,88.8,1136.1,395.6,154.9,8.7,58.8,193.1,...,104.3,206.9,126.7,43.5,87.5,241.4,19.0,17.5,580.0,103.0
18,Bhutan,32.1,12.4,1.4,21.6,10.4,15.0,0.3,8.3,2.8,...,15.0,13.8,10.4,2.5,10.1,7.4,1.6,0.5,26.3,6.1
19,Bolivia (Plurinational State of),286.7,265.2,29.1,385.9,113.9,234.8,8.1,110.7,26.3,...,107.2,200.5,145.9,35.6,119.1,149.5,29.9,2.1,414.0,174.3
20,Bosnia and Herzegovina,10.8,10.9,0.4,16.7,10.8,179.6,3.3,70.1,7.4,...,36.3,38.9,29.5,8.7,65.1,12.7,17.6,0.1,91.0,26.3
21,Botswana,307.7,45.3,5.1,107.2,15.9,40.7,2.3,33.4,7.1,...,24.4,13.6,14.5,8.2,21.2,27.1,4.9,0.7,59.1,27.5
22,Brazil,2949.4,2382.1,96.7,2103.6,1072.4,6636.6,138.7,2139.0,671.5,...,2200.9,2521.9,1510.9,797.0,3289.1,1445.0,744.6,18.5,5092.9,4598.0
23,Brunei Darussalam,1.9,2.0,0.1,2.8,0.8,12.6,0.1,6.6,1.0,...,3.8,1.9,3.4,1.2,5.8,2.9,1.0,0.1,8.1,1.6
24,Bulgaria,28.2,45.7,0.7,30.5,14.6,487.7,5.0,67.5,16.3,...,110.7,120.9,71.4,17.2,129.9,25.5,33.6,0.3,193.6,37.2
25,Burkina Faso,3748.3,1035.2,157.4,1603.3,647.8,300.8,17.4,85.8,374.4,...,133.1,295.2,142.3,87.9,131.2,335.6,27.1,24.9,962.9,205.0
26,Burundi,1810.2,688.7,189.4,930.0,400.3,248.3,9.6,56.0,56.9,...,106.6,189.4,64.8,51.1,73.3,199.4,15.3,18.1,686.2,138.1
27,Cambodia,627.2,359.2,32.4,477.5,147.5,446.6,6.6,102.8,44.6,...,160.8,385.7,102.3,61.2,171.7,130.2,22.6,4.9,504.5,100.6
28,Cameroon,5114.4,1527.5,298.1,1766.1,502.4,520.5,19.6,168.6,322.5,...,229.2,525.4,306.0,93.5,186.5,563.6,39.5,36.3,1389.9,346.8
29,Canada,125.5,142.0,2.1,139.3,25.1,1711.6,33.4,312.1,97.4,...,429.9,258.2,187.6,114.3,783.7,106.8,143.1,5.8,603.1,249.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Sudan,2995.0,1419.7,229.0,3330.0,584.1,631.9,48.0,283.2,232.2,...,420.3,368.8,423.6,111.1,475.4,729.2,76.2,31.7,1910.9,658.3
154,Suriname,13.7,5.5,1.1,10.6,2.7,17.9,0.1,9.8,1.7,...,4.6,7.3,7.9,2.3,7.3,4.0,1.7,0.4,14.6,9.6
155,Swaziland,316.1,60.7,8.4,79.2,21.8,28.0,1.9,26.0,10.0,...,17.6,12.1,10.3,5.2,10.5,27.0,2.3,1.6,60.0,28.6
156,Sweden,28.2,49.5,0.6,26.1,8.8,465.5,17.8,86.7,22.8,...,132.5,65.1,46.4,30.4,208.9,31.4,40.5,1.8,153.7,66.7
157,Switzerland,20.5,34.6,0.5,33.5,15.1,383.8,11.0,44.4,21.0,...,92.0,56.3,50.3,23.3,180.6,30.6,43.4,0.7,130.5,52.4
158,Syrian Arab Republic,288.4,136.3,19.7,272.0,93.6,442.3,20.9,93.9,51.2,...,131.5,84.4,130.4,46.8,206.9,175.4,38.9,4.3,330.1,4454.6
159,Tajikistan,224.6,229.1,4.5,414.9,61.5,176.7,28.2,35.7,19.4,...,58.0,78.6,52.0,20.3,67.6,118.8,19.1,7.8,256.2,26.7
160,Thailand,1695.7,1016.9,12.5,458.8,102.8,2871.9,75.1,789.1,141.6,...,1075.1,909.2,977.8,323.8,1268.0,329.8,180.6,13.7,2290.0,713.8
161,The former Yugoslav Republic of Macedonia,5.2,6.3,0.2,20.1,6.1,107.5,0.6,29.3,3.4,...,23.3,15.1,16.8,4.7,31.4,7.2,7.8,0.5,41.9,9.0
162,Timor-Leste,94.4,49.5,4.5,76.2,8.7,27.5,0.2,5.4,2.9,...,12.1,9.1,5.2,4.2,9.3,18.1,1.7,1.7,39.9,12.7
163,Togo,1314.0,422.4,57.1,567.4,161.1,125.1,5.1,38.5,80.4,...,72.6,124.7,65.7,27.2,57.6,141.4,12.7,6.4,363.1,82.5
164,Tonga,1.5,1.2,0.1,1.5,0.9,3.4,0.0,2.8,0.3,...,1.5,1.0,1.2,0.5,1.2,1.1,0.1,0.0,1.7,0.5
165,Trinidad and Tobago,24.2,10.6,0.8,19.8,5.7,50.8,3.2,61.0,7.9,...,14.4,14.0,13.8,4.8,23.4,10.0,5.1,0.3,30.7,44.2
166,Tunisia,80.5,87.4,8.5,154.1,17.5,248.2,13.0,142.3,32.3,...,100.6,76.5,131.9,32.7,198.1,98.9,34.4,3.8,236.4,35.3
167,Turkey,449.0,357.0,16.7,693.1,296.9,3129.9,4.0,888.0,281.7,...,899.5,442.0,815.2,208.0,1437.6,742.4,281.9,12.6,1408.0,536.6
168,Turkmenistan,168.1,132.1,2.1,269.8,23.5,175.9,7.3,33.8,18.6,...,26.0,112.9,59.3,13.3,51.8,94.0,14.3,5.0,171.4,37.6
169,Uganda,6396.6,2002.1,361.5,3045.6,765.9,988.5,30.8,203.1,205.7,...,309.8,572.8,219.1,180.2,233.3,745.4,48.7,49.3,1956.3,636.1
170,Ukraine,983.8,272.0,10.2,244.7,40.1,2654.3,7.3,222.2,69.8,...,409.8,874.6,285.6,106.0,823.6,211.5,192.0,6.2,1468.8,583.9
171,United Arab Emirates,53.5,23.2,0.9,42.1,36.8,73.1,0.6,83.1,17.1,...,65.0,28.1,61.6,22.8,141.2,40.6,21.2,1.5,176.2,37.9
172,United Kingdom,177.3,555.6,8.1,247.2,72.0,3452.8,74.3,312.4,153.6,...,1106.8,716.8,328.1,211.6,1395.8,223.5,312.0,10.5,901.7,320.6
173,United Republic of Tanzania,8233.1,2388.0,636.3,3857.8,1249.5,957.3,31.1,257.3,237.7,...,415.5,607.5,290.4,250.7,343.6,1006.0,54.2,63.3,2617.5,453.8
174,United States of America,1699.0,1673.7,47.7,1504.9,289.3,14916.5,361.5,4054.7,1421.9,...,6220.9,3572.2,2927.0,1066.2,6881.0,1464.2,1071.5,131.6,6760.5,3772.7
175,Uruguay,26.0,24.7,0.7,19.9,7.8,196.1,7.0,28.0,10.4,...,56.9,32.0,30.0,11.4,72.4,20.8,12.4,0.8,79.6,43.7
176,Uzbekistan,387.1,350.7,16.5,713.7,273.2,507.2,36.0,238.8,49.3,...,173.2,404.1,275.6,70.5,303.4,305.4,80.9,8.0,675.6,180.8
177,Vanuatu,8.0,4.1,0.3,6.2,3.1,7.3,0.1,3.6,0.5,...,3.7,1.5,2.2,1.0,2.8,3.5,0.3,0.1,5.4,1.2
178,Venezuela (Bolivarian Republic of),478.0,263.3,40.5,469.8,53.3,853.3,86.0,514.3,49.2,...,235.2,246.8,183.6,82.1,350.7,257.5,95.6,1.5,1156.9,1038.9
179,Viet Nam,1861.7,753.9,56.4,1364.3,202.3,3275.6,37.4,736.4,198.2,...,1050.2,909.5,571.4,324.3,1208.3,870.8,154.9,26.5,2724.4,594.6
180,Yemen,1284.1,926.3,204.1,1850.0,622.8,455.9,28.2,179.8,155.5,...,284.3,210.3,259.6,79.6,282.3,479.2,47.3,56.1,1221.7,608.5
181,Zambia,3211.4,731.2,104.2,1213.2,411.1,295.9,14.8,72.6,74.1,...,107.0,218.0,87.1,80.6,103.5,281.5,21.8,16.5,713.7,172.7
182,Zimbabwe,2643.3,666.8,177.2,1032.2,408.7,337.0,4.4,134.4,49.6,...,139.5,157.6,111.7,58.8,112.7,298.4,24.3,3.9,768.6,250.0

In [6]:
modified_daly_df.columns

Index(['Country', 'Infectious and parasitic diseases',
       'Respiratory Infectious ', 'Maternal conditions', 'Neonatal conditions',
       'Nutritional deficiencies', 'Malignant neoplasms', 'Other neoplasms',
       'Diabetes mellitus', 'Endocrine, blood, immune disorders',
       'Mental and substance use disorders', 'Neurological conditions',
       'Sense organ diseases', 'Cardiovascular diseases',
       'Respiratory diseases', 'Digestive diseases', 'Genitourinary diseases',
       'Skin diseases', 'Musculoskeletal diseases', 'Congenital anomalies',
       'Oral conditions', 'Sudden infant death syndrome',
       'Unintentional injuries', 'Intentional injuries'],
      dtype='object')

In [7]:
modified_daly_df.dtypes

Country                                object
Infectious and parasitic diseases     float64
Respiratory Infectious                float64
Maternal conditions                   float64
Neonatal conditions                   float64
Nutritional deficiencies              float64
Malignant neoplasms                   float64
Other neoplasms                       float64
Diabetes mellitus                     float64
Endocrine, blood, immune disorders    float64
Mental and substance use disorders    float64
Neurological conditions               float64
Sense organ diseases                  float64
Cardiovascular diseases               float64
Respiratory diseases                  float64
Digestive diseases                    float64
Genitourinary diseases                float64
Skin diseases                         float64
Musculoskeletal diseases              float64
Congenital anomalies                  float64
Oral conditions                       float64
Sudden infant death syndrome          float64
Unintentional injuries                float64
Intentional injuries                  float64
dtype: object

In [8]:
#################################################
# Database Setup
#################################################

engine = create_engine(
    "mysql://rl91qzpzgty8oaf1:evamhxfd7l42mgso@y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/v21ogkg4wvsne316")
conn = engine.connect()

In [9]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [10]:
from sqlalchemy import Column, Integer, String, Float
class User(Base):
    __tablename__ = "DALY"
    Country = Column(String(255), primary_key=True)
    Infectious_and_parasitic_diseases = Column ("Infectious and parasitic diseases", Float)
    Respiratory_Infectious = Column ("Respiratory Infectious", Float)
    Maternal_conditions = Column ("Maternal conditions", Float)
    Neonatal_conditions = Column ("Neonatal conditions", Float)
    Nutritional_deficiencies = Column ("Nutritional deficiencies", Float)
    Malignant_neoplasms = Column ("Malignant neoplasms", Float)
    Other_neoplasms = Column ("Other neoplasms", Float)
    Diabetes_mellitus = Column ("Diabetes mellitus", Float)
    Endocrine_blood_immune_disorders = Column ("Endocrine, blood, immune disorders", Float)
    Mental_and_substance_use_disorders = Column ("Mental and substance use disorders", Float)
    Neurological_conditions = Column ("Neurological conditions", Float)
    Sense_organ_diseases = Column ("Sense organ diseases", Float)
    Cardiovascular_diseases = Column ("Cardiovascular diseases", Float)
    Respiratory_diseases = Column ("Respiratory diseases", Float)
    Digestive_diseases = Column ("Digestive diseases", Float)
    Genitourinary_diseases = Column ("Genitourinary diseases", Float)
    Skin_diseases = Column ("Skin diseases", Float)
    Musculoskeletal_diseases = Column ("Musculoskeletal diseases", Float)
    Congenital_anomalies = Column ("Congenital anomalies", Float)
    Oral_conditions = Column ("Oral conditions", Float)
    Sudden_infant_death_syndrome = Column ("Sudden infant death syndrome", Float)
    Unintentional_injuries = Column ("Unintentional injuries", Float)
    Intentional_injuries = Column ("Intentional injuries", Float)

In [11]:
Base.metadata.create_all(conn)

In [12]:
modified_daly_df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'Respiratory Infectious ' in 'field list'") [SQL: 'INSERT INTO `DALY` (`Country`, `Infectious and parasitic diseases`, `Respiratory Infectious `, `Maternal conditions`, `Neonatal conditions`, `Nutritional deficiencies`, `Malignant neoplasms`, `Other neoplasms`, `Diabetes mellitus`, `Endocrine, blood, immune disorders`, `Mental and substance use disorders`, `Neurological conditions`, `Sense organ diseases`, `Cardiovascular diseases`, `Respiratory diseases`, `Digestive diseases`, `Genitourinary diseases`, `Skin diseases`, `Musculoskeletal diseases`, `Congenital anomalies`, `Oral conditions`, `Sudden infant death syndrome`, `Unintentional injuries`, `Intentional injuries`) VALUES (%(Country)s, %(Infectious and parasitic diseases)s, %(Respiratory Infectious )s, %(Maternal conditions)s, %(Neonatal conditions)s, %(Nutritional deficiencies)s, %(Malignant neoplasms)s, %(Other neoplasms)s, %(Diabetes mellitus)s, %(Endocrine, blood, immune disorders)s, %(Mental and substance use disorders)s, %(Neurological conditions)s, %(Sense organ diseases)s, %(Cardiovascular diseases)s, %(Respiratory diseases)s, %(Digestive diseases)s, %(Genitourinary diseases)s, %(Skin diseases)s, %(Musculoskeletal diseases)s, %(Congenital anomalies)s, %(Oral conditions)s, %(Sudden infant death syndrome)s, %(Unintentional injuries)s, %(Intentional injuries)s)'] [parameters: ({'Country': 'Afghanistan', 'Infectious and parasitic diseases': 2336.7, 'Respiratory Infectious ': 1424.9, 'Maternal conditions': 225.3, 'Neonatal conditions': 3675.8, 'Nutritional deficiencies': 233.5, 'Malignant neoplasms': 898.1, 'Other neoplasms': 48.6, 'Diabetes mellitus': 338.0, 'Endocrine, blood, immune disorders': 180.2, 'Mental and substance use disorders': 759.7, 'Neurological conditions': 338.7, 'Sense organ diseases': 373.2, 'Cardiovascular diseases': 1570.7, 'Respiratory diseases': 315.0, 'Digestive diseases': 267.7, 'Genitourinary diseases': 308.2, 'Skin diseases': 89.8, 'Musculoskeletal diseases': 298.2, 'Congenital anomalies': 666.4, 'Oral conditions': 55.2, 'Sudden infant death syndrome': 38.2, 'Unintentional injuries': 1329.8, 'Intentional injuries': 2372.6}, {'Country': 'Albania', 'Infectious and parasitic diseases': 10.0, 'Respiratory Infectious ': 14.4, 'Maternal conditions': 0.6, 'Neonatal conditions': 19.8, 'Nutritional deficiencies': 6.6, 'Malignant neoplasms': 137.9, 'Other neoplasms': 8.2, 'Diabetes mellitus': 10.1, 'Endocrine, blood, immune disorders': 7.9, 'Mental and substance use disorders': 55.2, 'Neurological conditions': 48.8, 'Sense organ diseases': 47.4, 'Cardiovascular diseases': 284.6, 'Respiratory diseases': 21.7, 'Digestive diseases': 18.9, 'Genitourinary diseases': 20.9, 'Skin diseases': 6.9, 'Musculoskeletal diseases': 45.6, 'Congenital anomalies': 18.3, 'Oral conditions': 10.5, 'Sudden infant death syndrome': 1.2, 'Unintentional injuries': 71.1, 'Intentional injuries': 17.3}, {'Country': 'Algeria', 'Infectious and parasitic diseases': 460.0, 'Respiratory Infectious ': 461.5, 'Maternal conditions': 62.0, 'Neonatal conditions': 1169.5, 'Nutritional deficiencies': 181.1, 'Malignant neoplasms': 871.8, 'Other neoplasms': 22.7, 'Diabetes mellitus': 407.8, 'Endocrine, blood, immune disorders': 118.4, 'Mental and substance use disorders': 927.8, 'Neurological conditions': 581.4, 'Sense organ diseases': 593.2, 'Cardiovascular diseases': 1576.5, 'Respiratory diseases': 279.3, 'Digestive diseases': 219.7, 'Genitourinary diseases': 348.1, 'Skin diseases': 111.4, 'Musculoskeletal diseases': 611.1, 'Congenital anomalies': 483.8, 'Oral conditions': 102.5, 'Sudden infant death syndrome': 24.4, 'Unintentional injuries': 1023.3, 'Intentional injuries': 195.5}, {'Country': 'Angola', 'Infectious and parasitic diseases': 5256.8, 'Respiratory Infectious ': 1866.6, 'Maternal conditions': 214.4, 'Neonatal conditions': 2959.0, 'Nutritional deficiencies': 746.3, 'Malignant neoplasms': 310.3, 'Other neoplasms': 19.9, 'Diabetes mellitus': 107.6, 'Endocrine, blood, immune disorders': 157.9, 'Mental and substance use disorders': 480.7, 'Neurological conditions': 232.0, 'Sense organ diseases': 280.9, 'Cardiovascular diseases': 671.4, 'Respiratory diseases': 215.1, 'Digestive diseases': 395.4, 'Genitourinary diseases': 145.4, 'Skin diseases': 125.4, 'Musculoskeletal diseases': 170.8, 'Congenital anomalies': 709.8, 'Oral conditions': 37.5, 'Sudden infant death syndrome': 51.5, 'Unintentional injuries': 1277.6, 'Intentional injuries': 287.8}, {'Country': 'Antigua and Barbuda', 'Infectious and parasitic diseases': 1.2, 'Respiratory Infectious ': 0.8, 'Maternal conditions': 0.2, 'Neonatal conditions': 0.6, 'Nutritional deficiencies': 0.6, 'Malignant neoplasms': 3.4, 'Other neoplasms': 0.1, 'Diabetes mellitus': 1.7, 'Endocrine, blood, immune disorders': 0.7, 'Mental and substance use disorders': 2.2, 'Neurological conditions': 1.1, 'Sense organ diseases': 1.0, 'Cardiovascular diseases': 5.0, 'Respiratory diseases': 1.0, 'Digestive diseases': 0.7, 'Genitourinary diseases': 0.8, 'Skin diseases': 0.4, 'Musculoskeletal diseases': 1.4, 'Congenital anomalies': 0.7, 'Oral conditions': 0.3, 'Sudden infant death syndrome': 0.0, 'Unintentional injuries': 2.3, 'Intentional injuries': 0.1}, {'Country': 'Argentina', 'Infectious and parasitic diseases': 444.1, 'Respiratory Infectious ': 613.6, 'Maternal conditions': 29.1, 'Neonatal conditions': 372.0, 'Nutritional deficiencies': 88.9, 'Malignant neoplasms': 1658.8, 'Other neoplasms': 80.0, 'Diabetes mellitus': 350.6, 'Endocrine, blood, immune disorders': 101.1, 'Mental and substance use disorders': 1112.5, 'Neurological conditions': 483.6, 'Sense organ diseases': 520.3, 'Cardiovascular diseases': 1832.1, 'Respiratory diseases': 733.7, 'Digestive diseases': 451.1, 'Genitourinary diseases': 401.8, 'Skin diseases': 150.6, 'Musculoskeletal diseases': 845.2, 'Congenital anomalies': 299.6, 'Oral conditions': 129.0, 'Sudden infant death syndrome': 21.5, 'Unintentional injuries': 910.2, 'Intentional injuries': 391.4}, {'Country': 'Armenia', 'Infectious and parasitic diseases': 18.3, 'Respiratory Infectious ': 14.0, 'Maternal conditions': 0.6, 'Neonatal conditions': 26.1, 'Nutritional deficiencies': 8.2, 'Malignant neoplasms': 208.1, 'Other neoplasms': 2.2, 'Diabetes mellitus': 36.5, 'Endocrine, blood, immune disorders': 4.9, 'Mental and substance use disorders': 60.4, 'Neurological conditions': 40.9, 'Sense organ diseases': 52.3, 'Cardiovascular diseases': 227.7, 'Respiratory diseases': 26.8, 'Digestive diseases': 36.4, 'Genitourinary diseases': 28.6, 'Skin diseases': 7.2, 'Musculoskeletal diseases': 42.3, 'Congenital anomalies': 19.7, 'Oral conditions': 12.2, 'Sudden infant death syndrome': 0.3, 'Unintentional injuries': 70.9, 'Intentional injuries': 12.9}, {'Country': 'Australia', 'Infectious and parasitic diseases': 59.4, 'Respiratory Infectious ': 81.3, 'Maternal conditions': 2.4, 'Neonatal conditions': 75.3, 'Nutritional deficiencies': 14.5, 'Malignant neoplasms': 998.8, 'Other neoplasms': 27.2, 'Diabetes mellitus': 156.6, 'Endocrine, blood, immune disorders': 60.1, 'Mental and substance use disorders': 802.4, 'Neurological conditions': 458.1, 'Sense organ diseases': 257.3, 'Cardiovascular diseases': 749.5, 'Respiratory diseases': 312.4, 'Digestive diseases': 138.3, 'Genitourinary diseases': 105.5, 'Skin diseases': 70.7, 'Musculoskeletal diseases': 527.9, 'Congenital anomalies': 69.8, 'Oral conditions': 97.4, 'Sudden infant death syndrome': 5.5, 'Unintentional injuries': 342.0, 'Intentional injuries': 168.4}  ... displaying 10 of 183 total bound parameter sets ...  {'Country': 'Zambia', 'Infectious and parasitic diseases': 3211.4, 'Respiratory Infectious ': 731.2, 'Maternal conditions': 104.2, 'Neonatal conditions': 1213.2, 'Nutritional deficiencies': 411.1, 'Malignant neoplasms': 295.9, 'Other neoplasms': 14.8, 'Diabetes mellitus': 72.6, 'Endocrine, blood, immune disorders': 74.1, 'Mental and substance use disorders': 294.7, 'Neurological conditions': 144.2, 'Sense organ diseases': 131.4, 'Cardiovascular diseases': 382.3, 'Respiratory diseases': 107.0, 'Digestive diseases': 218.0, 'Genitourinary diseases': 87.1, 'Skin diseases': 80.6, 'Musculoskeletal diseases': 103.5, 'Congenital anomalies': 281.5, 'Oral conditions': 21.8, 'Sudden infant death syndrome': 16.5, 'Unintentional injuries': 713.7, 'Intentional injuries': 172.7}, {'Country': 'Zimbabwe', 'Infectious and parasitic diseases': 2643.3, 'Respiratory Infectious ': 666.8, 'Maternal conditions': 177.2, 'Neonatal conditions': 1032.2, 'Nutritional deficiencies': 408.7, 'Malignant neoplasms': 337.0, 'Other neoplasms': 4.4, 'Diabetes mellitus': 134.4, 'Endocrine, blood, immune disorders': 49.6, 'Mental and substance use disorders': 310.1, 'Neurological conditions': 147.7, 'Sense organ diseases': 133.6, 'Cardiovascular diseases': 466.8, 'Respiratory diseases': 139.5, 'Digestive diseases': 157.6, 'Genitourinary diseases': 111.7, 'Skin diseases': 58.8, 'Musculoskeletal diseases': 112.7, 'Congenital anomalies': 298.4, 'Oral conditions': 24.3, 'Sudden infant death syndrome': 3.9, 'Unintentional injuries': 768.6, 'Intentional injuries': 250.0})] (Background on this error at: http://sqlalche.me/e/2j85)

In [13]:
import pymysql, os
pymysql.install_as_MySQLdb()

PASSWD = os.getenv("evamhxfd7l42mgso")
USER = "rl91qzpzgty8oaf1"
PORT = "3306"
DOMAIN = "y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com"
DB = "v21ogkg4wvsne316"
engine = create_engine(f"mysql://{USER}:{PASSWD}@{DOMAIN}:{PORT}/{DB}")
conn = engine.connect()

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'rl91qzpzgty8oaf1'@'136.49.116.130' (using password: YES)") (Background on this error at: http://sqlalche.me/e/e3q8)

In [14]:
Base.metadata.drop_all(conn)
Base.metadata.create_all(conn)

In [15]:
modified_daly_df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'Respiratory Infectious ' in 'field list'") [SQL: 'INSERT INTO `DALY` (`Country`, `Infectious and parasitic diseases`, `Respiratory Infectious `, `Maternal conditions`, `Neonatal conditions`, `Nutritional deficiencies`, `Malignant neoplasms`, `Other neoplasms`, `Diabetes mellitus`, `Endocrine, blood, immune disorders`, `Mental and substance use disorders`, `Neurological conditions`, `Sense organ diseases`, `Cardiovascular diseases`, `Respiratory diseases`, `Digestive diseases`, `Genitourinary diseases`, `Skin diseases`, `Musculoskeletal diseases`, `Congenital anomalies`, `Oral conditions`, `Sudden infant death syndrome`, `Unintentional injuries`, `Intentional injuries`) VALUES (%(Country)s, %(Infectious and parasitic diseases)s, %(Respiratory Infectious )s, %(Maternal conditions)s, %(Neonatal conditions)s, %(Nutritional deficiencies)s, %(Malignant neoplasms)s, %(Other neoplasms)s, %(Diabetes mellitus)s, %(Endocrine, blood, immune disorders)s, %(Mental and substance use disorders)s, %(Neurological conditions)s, %(Sense organ diseases)s, %(Cardiovascular diseases)s, %(Respiratory diseases)s, %(Digestive diseases)s, %(Genitourinary diseases)s, %(Skin diseases)s, %(Musculoskeletal diseases)s, %(Congenital anomalies)s, %(Oral conditions)s, %(Sudden infant death syndrome)s, %(Unintentional injuries)s, %(Intentional injuries)s)'] [parameters: ({'Country': 'Afghanistan', 'Infectious and parasitic diseases': 2336.7, 'Respiratory Infectious ': 1424.9, 'Maternal conditions': 225.3, 'Neonatal conditions': 3675.8, 'Nutritional deficiencies': 233.5, 'Malignant neoplasms': 898.1, 'Other neoplasms': 48.6, 'Diabetes mellitus': 338.0, 'Endocrine, blood, immune disorders': 180.2, 'Mental and substance use disorders': 759.7, 'Neurological conditions': 338.7, 'Sense organ diseases': 373.2, 'Cardiovascular diseases': 1570.7, 'Respiratory diseases': 315.0, 'Digestive diseases': 267.7, 'Genitourinary diseases': 308.2, 'Skin diseases': 89.8, 'Musculoskeletal diseases': 298.2, 'Congenital anomalies': 666.4, 'Oral conditions': 55.2, 'Sudden infant death syndrome': 38.2, 'Unintentional injuries': 1329.8, 'Intentional injuries': 2372.6}, {'Country': 'Albania', 'Infectious and parasitic diseases': 10.0, 'Respiratory Infectious ': 14.4, 'Maternal conditions': 0.6, 'Neonatal conditions': 19.8, 'Nutritional deficiencies': 6.6, 'Malignant neoplasms': 137.9, 'Other neoplasms': 8.2, 'Diabetes mellitus': 10.1, 'Endocrine, blood, immune disorders': 7.9, 'Mental and substance use disorders': 55.2, 'Neurological conditions': 48.8, 'Sense organ diseases': 47.4, 'Cardiovascular diseases': 284.6, 'Respiratory diseases': 21.7, 'Digestive diseases': 18.9, 'Genitourinary diseases': 20.9, 'Skin diseases': 6.9, 'Musculoskeletal diseases': 45.6, 'Congenital anomalies': 18.3, 'Oral conditions': 10.5, 'Sudden infant death syndrome': 1.2, 'Unintentional injuries': 71.1, 'Intentional injuries': 17.3}, {'Country': 'Algeria', 'Infectious and parasitic diseases': 460.0, 'Respiratory Infectious ': 461.5, 'Maternal conditions': 62.0, 'Neonatal conditions': 1169.5, 'Nutritional deficiencies': 181.1, 'Malignant neoplasms': 871.8, 'Other neoplasms': 22.7, 'Diabetes mellitus': 407.8, 'Endocrine, blood, immune disorders': 118.4, 'Mental and substance use disorders': 927.8, 'Neurological conditions': 581.4, 'Sense organ diseases': 593.2, 'Cardiovascular diseases': 1576.5, 'Respiratory diseases': 279.3, 'Digestive diseases': 219.7, 'Genitourinary diseases': 348.1, 'Skin diseases': 111.4, 'Musculoskeletal diseases': 611.1, 'Congenital anomalies': 483.8, 'Oral conditions': 102.5, 'Sudden infant death syndrome': 24.4, 'Unintentional injuries': 1023.3, 'Intentional injuries': 195.5}, {'Country': 'Angola', 'Infectious and parasitic diseases': 5256.8, 'Respiratory Infectious ': 1866.6, 'Maternal conditions': 214.4, 'Neonatal conditions': 2959.0, 'Nutritional deficiencies': 746.3, 'Malignant neoplasms': 310.3, 'Other neoplasms': 19.9, 'Diabetes mellitus': 107.6, 'Endocrine, blood, immune disorders': 157.9, 'Mental and substance use disorders': 480.7, 'Neurological conditions': 232.0, 'Sense organ diseases': 280.9, 'Cardiovascular diseases': 671.4, 'Respiratory diseases': 215.1, 'Digestive diseases': 395.4, 'Genitourinary diseases': 145.4, 'Skin diseases': 125.4, 'Musculoskeletal diseases': 170.8, 'Congenital anomalies': 709.8, 'Oral conditions': 37.5, 'Sudden infant death syndrome': 51.5, 'Unintentional injuries': 1277.6, 'Intentional injuries': 287.8}, {'Country': 'Antigua and Barbuda', 'Infectious and parasitic diseases': 1.2, 'Respiratory Infectious ': 0.8, 'Maternal conditions': 0.2, 'Neonatal conditions': 0.6, 'Nutritional deficiencies': 0.6, 'Malignant neoplasms': 3.4, 'Other neoplasms': 0.1, 'Diabetes mellitus': 1.7, 'Endocrine, blood, immune disorders': 0.7, 'Mental and substance use disorders': 2.2, 'Neurological conditions': 1.1, 'Sense organ diseases': 1.0, 'Cardiovascular diseases': 5.0, 'Respiratory diseases': 1.0, 'Digestive diseases': 0.7, 'Genitourinary diseases': 0.8, 'Skin diseases': 0.4, 'Musculoskeletal diseases': 1.4, 'Congenital anomalies': 0.7, 'Oral conditions': 0.3, 'Sudden infant death syndrome': 0.0, 'Unintentional injuries': 2.3, 'Intentional injuries': 0.1}, {'Country': 'Argentina', 'Infectious and parasitic diseases': 444.1, 'Respiratory Infectious ': 613.6, 'Maternal conditions': 29.1, 'Neonatal conditions': 372.0, 'Nutritional deficiencies': 88.9, 'Malignant neoplasms': 1658.8, 'Other neoplasms': 80.0, 'Diabetes mellitus': 350.6, 'Endocrine, blood, immune disorders': 101.1, 'Mental and substance use disorders': 1112.5, 'Neurological conditions': 483.6, 'Sense organ diseases': 520.3, 'Cardiovascular diseases': 1832.1, 'Respiratory diseases': 733.7, 'Digestive diseases': 451.1, 'Genitourinary diseases': 401.8, 'Skin diseases': 150.6, 'Musculoskeletal diseases': 845.2, 'Congenital anomalies': 299.6, 'Oral conditions': 129.0, 'Sudden infant death syndrome': 21.5, 'Unintentional injuries': 910.2, 'Intentional injuries': 391.4}, {'Country': 'Armenia', 'Infectious and parasitic diseases': 18.3, 'Respiratory Infectious ': 14.0, 'Maternal conditions': 0.6, 'Neonatal conditions': 26.1, 'Nutritional deficiencies': 8.2, 'Malignant neoplasms': 208.1, 'Other neoplasms': 2.2, 'Diabetes mellitus': 36.5, 'Endocrine, blood, immune disorders': 4.9, 'Mental and substance use disorders': 60.4, 'Neurological conditions': 40.9, 'Sense organ diseases': 52.3, 'Cardiovascular diseases': 227.7, 'Respiratory diseases': 26.8, 'Digestive diseases': 36.4, 'Genitourinary diseases': 28.6, 'Skin diseases': 7.2, 'Musculoskeletal diseases': 42.3, 'Congenital anomalies': 19.7, 'Oral conditions': 12.2, 'Sudden infant death syndrome': 0.3, 'Unintentional injuries': 70.9, 'Intentional injuries': 12.9}, {'Country': 'Australia', 'Infectious and parasitic diseases': 59.4, 'Respiratory Infectious ': 81.3, 'Maternal conditions': 2.4, 'Neonatal conditions': 75.3, 'Nutritional deficiencies': 14.5, 'Malignant neoplasms': 998.8, 'Other neoplasms': 27.2, 'Diabetes mellitus': 156.6, 'Endocrine, blood, immune disorders': 60.1, 'Mental and substance use disorders': 802.4, 'Neurological conditions': 458.1, 'Sense organ diseases': 257.3, 'Cardiovascular diseases': 749.5, 'Respiratory diseases': 312.4, 'Digestive diseases': 138.3, 'Genitourinary diseases': 105.5, 'Skin diseases': 70.7, 'Musculoskeletal diseases': 527.9, 'Congenital anomalies': 69.8, 'Oral conditions': 97.4, 'Sudden infant death syndrome': 5.5, 'Unintentional injuries': 342.0, 'Intentional injuries': 168.4}  ... displaying 10 of 183 total bound parameter sets ...  {'Country': 'Zambia', 'Infectious and parasitic diseases': 3211.4, 'Respiratory Infectious ': 731.2, 'Maternal conditions': 104.2, 'Neonatal conditions': 1213.2, 'Nutritional deficiencies': 411.1, 'Malignant neoplasms': 295.9, 'Other neoplasms': 14.8, 'Diabetes mellitus': 72.6, 'Endocrine, blood, immune disorders': 74.1, 'Mental and substance use disorders': 294.7, 'Neurological conditions': 144.2, 'Sense organ diseases': 131.4, 'Cardiovascular diseases': 382.3, 'Respiratory diseases': 107.0, 'Digestive diseases': 218.0, 'Genitourinary diseases': 87.1, 'Skin diseases': 80.6, 'Musculoskeletal diseases': 103.5, 'Congenital anomalies': 281.5, 'Oral conditions': 21.8, 'Sudden infant death syndrome': 16.5, 'Unintentional injuries': 713.7, 'Intentional injuries': 172.7}, {'Country': 'Zimbabwe', 'Infectious and parasitic diseases': 2643.3, 'Respiratory Infectious ': 666.8, 'Maternal conditions': 177.2, 'Neonatal conditions': 1032.2, 'Nutritional deficiencies': 408.7, 'Malignant neoplasms': 337.0, 'Other neoplasms': 4.4, 'Diabetes mellitus': 134.4, 'Endocrine, blood, immune disorders': 49.6, 'Mental and substance use disorders': 310.1, 'Neurological conditions': 147.7, 'Sense organ diseases': 133.6, 'Cardiovascular diseases': 466.8, 'Respiratory diseases': 139.5, 'Digestive diseases': 157.6, 'Genitourinary diseases': 111.7, 'Skin diseases': 58.8, 'Musculoskeletal diseases': 112.7, 'Congenital anomalies': 298.4, 'Oral conditions': 24.3, 'Sudden infant death syndrome': 3.9, 'Unintentional injuries': 768.6, 'Intentional injuries': 250.0})] (Background on this error at: http://sqlalche.me/e/2j85)

In [34]:
LEX_HALE_MERGED = pd.merge(renamed_one_df, renamed_three_df_filtered, on ="Country", how="inner")
LEX_HALE_MERGED.head()

,Country,Both sexes HALE,Male HALE,Female HALE,Year,Both sexes LEX,Male LEX,Female LEX
0,Afghanistan,53.0,52.1,54.1,2016,62.7,61,64.5
1,Albania,68.1,66.7,69.6,2016,76.4,74.3,78.6
2,Algeria,65.5,65.4,65.6,2016,76.4,75.4,77.4
3,Angola,55.8,53.8,57.7,2016,62.6,60.3,64.9
4,Antigua and Barbuda,67.0,65.2,68.8,2016,75,72.5,77.5

In [35]:
LEX_HALE_MERGED["Both sexes LEX"] = pd.to_numeric(
    LEX_HALE_MERGED["Both sexes LEX"])

In [36]:
LEX_HALE_MERGED["Male LEX"] = pd.to_numeric(
    LEX_HALE_MERGED["Male LEX"])

In [37]:
LEX_HALE_MERGED["Female LEX"] = pd.to_numeric(
    LEX_HALE_MERGED["Female LEX"])

In [38]:
LEX_HALE_MERGED["Dark_Years_Both"] = (LEX_HALE_MERGED["Both sexes LEX"] - LEX_HALE_MERGED["Both sexes HALE"])/LEX_HALE_MERGED["Both sexes LEX"]

In [39]:
LEX_HALE_MERGED["Dark_Years_Male"] = LEX_HALE_MERGED["Male LEX"] - LEX_HALE_MERGED["Male HALE"]

In [40]:
LEX_HALE_MERGED["Dark_Years_Female"] = LEX_HALE_MERGED["Female LEX"] - LEX_HALE_MERGED["Female HALE"]

In [41]:
dark_years_df = LEX_HALE_MERGED.loc[:, ["Country","Dark_Years_Both", "Dark_Years_Male", "Dark_Years_Female"]]
dark_years_df.head()

               Country  Dark_Years_Both  Dark_Years_Male  Dark_Years_Female
0          Afghanistan         0.154705              8.9               10.4
1              Albania         0.108639              7.6                9.0
2              Algeria         0.142670             10.0               11.8
3               Angola         0.108626              6.5                7.2
4  Antigua and Barbuda         0.106667              7.3                8.7

In [48]:
dark_years_df.to_csv("assets/data/darkyears2.csv", index=False, header=True)

In [43]:
merge_glusose_dark_years_df = pd.merge(renamed_two_df, dark_years_df, on ="Country", how="inner")

In [44]:
merge_glusose_dark_years__obesity_df = pd.merge(renamed_five_df, merge_glusose_dark_years_df, on ="Country", how="inner")

In [45]:
merge_glusose_dark_years__obesity_NCD_df = pd.merge(renamed_four_df_filtered, merge_glusose_dark_years__obesity_df, on ="Country", how="outer")

merge_glusose_dark_years__obesity_NCD_df.head()

,Country,Year,Causes,Both sexes NCD,Male NCD,Female NCD,Both sexes Obesity,Male Obesity,Female Obesity,Both sexes Glucose,Male Glucose,Female Glucose,Dark_Years_Both,Dark_Years_Male,Dark_Years_Female
0,Afghanistan,2016,Malignant neoplasms,19965,10702,9263,5.5,3.2,7.6,11.9,11.6,12.2,0.154705,8.9,10.4
1,Afghanistan,2016,Diabetes mellitus,7056,2437,4620,5.5,3.2,7.6,11.9,11.6,12.2,0.154705,8.9,10.4
2,Afghanistan,2016,Cardiovascular diseases,51244,26828,24416,5.5,3.2,7.6,11.9,11.6,12.2,0.154705,8.9,10.4
3,Afghanistan,2016,Chronic obstructive pulmonary disease,6715,3560,3154,5.5,3.2,7.6,11.9,11.6,12.2,0.154705,8.9,10.4
4,Albania,2016,Malignant neoplasms,5138,2903,2235,21.7,21.6,21.8,7.4,7.7,7.1,0.108639,7.6,9.0

In [46]:
#################################################
# Database Setup
#################################################

engine = create_engine(
    "mysql://rl91qzpzgty8oaf1:evamhxfd7l42mgso@y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/v21ogkg4wvsne316")
conn = engine.connect()

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com' (timed out)") (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [ ]:
from sqlalchemy import Column, Integer, String, Float
class User(Base):
    __tablename__ = "darkdark"
    Country = Column(String(255), primary_key=True)
    Year = Column(String(255))
    Causes = Column(String(255))
    Both_sexes_NCD = Column("Both sexes NCD", String(255))
    Male_NCD = Column("Male NCD", String(255))
    Female_NCD = Column("Female NCD", String(255))
    Both_sexes_Obesity = Column("Both sexes Obesity", String(255))
    Male_Obesity = Column("Male Obesity", String(255))
    Female_Obesity = Column("Female Obesity", String(255))
    Both_sexes_Glucose = Column("Both sexes Glucose", String(255))
    Male_Glucose = Column("Male Glucose", String(255))
    Female_Glucose = Column("Female Glucose", String(255))
    Dark_Years_Both = Column("Dark_Years_Both", String(255))
    Dark_Years_Male = Column("Dark_Years_Male", String(255))
    Dark_Years_Female = Column("Dark_Years_Female", String(255))

In [ ]:
Base.metadata.create_all(conn)

In [ ]:
merge_glusose_dark_years__obesity_NCD_df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

In [ ]:
import pymysql, os
pymysql.install_as_MySQLdb()

PASSWD = os.getenv("evamhxfd7l42mgso")
USER = "rl91qzpzgty8oaf1"
PORT = "3306"
DOMAIN = "y2w3wxldca8enczv.cbetxkdyhwsb.us-east-1.rds.amazonaws.com"
DB = "v21ogkg4wvsne316"
engine = create_engine(f"mysql://{USER}:{PASSWD}@{DOMAIN}:{PORT}/{DB}")
conn = engine.connect()

In [ ]:
#default_schmea: v21ogkg4wvsne316

In [ ]:
Base.metadata.drop_all(conn)
Base.metadata.create_all(conn)

In [ ]:
merge_glusose_dark_years__obesity_NCD_df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

In [ ]:
modified_daly2 = "assets/data/daly_columned.csv"
modified_daly2_df = pd.read_csv(modified_daly2, encoding="ISO-8859-1")
modified_daly2_df

In [20]:
country_geo = 'assets/data/world-countries.json'

In [198]:

data = pd.read_csv('assets/data/newDaly.csv', encoding="ISO-8859-1")
data.shape

data.head()

,Country,Infectious_and_parasitic_diseases,Respiratory_Infectious,Maternal_conditions,Neonatal_conditions,Nutritional_deficiencies,Malignant_neoplasms,Other_neoplasms,Diabetes_mellitus,Endocrine_blood_immune_disorders,...,Respiratory_diseases,Digestive_diseases,Genitourinary_diseases,Skin_diseases,Musculoskeletal_diseases,Congenital_anomalies,Oral_conditions,Sudden_infant_death_syndrome,Unintentional_injuries,Intentional_injuries
0,Afghanistan,2336.7,1424.9,225.3,3675.8,233.5,898.1,48.6,338.0,180.2,...,315.0,267.7,308.2,89.8,298.2,666.4,55.2,38.2,1329.8,2372.6
1,Albania,10.0,14.4,0.6,19.8,6.6,137.9,8.2,10.1,7.9,...,21.7,18.9,20.9,6.9,45.6,18.3,10.5,1.2,71.1,17.3
2,Algeria,460.0,461.5,62.0,1169.5,181.1,871.8,22.7,407.8,118.4,...,279.3,219.7,348.1,111.4,611.1,483.8,102.5,24.4,1023.3,195.5
3,Angola,5256.8,1866.6,214.4,2959.0,746.3,310.3,19.9,107.6,157.9,...,215.1,395.4,145.4,125.4,170.8,709.8,37.5,51.5,1277.6,287.8
4,Antigua and Barbuda,1.2,0.8,0.2,0.6,0.6,3.4,0.1,1.7,0.7,...,1.0,0.7,0.8,0.4,1.4,0.7,0.3,0.0,2.3,0.1

In [196]:
# mydf = data[['Country', 'Infectious and parasitic diseases', 'Maternal conditions', 'Diabetes mellitus']]

In [197]:
# new_column_names = [column.replace(" ", "_") for column in data.columns]
# new_column_names
# new_column_names[2] = 'Respiratory_Infectious'
# new_column_names[9] = 'Endocrine_blood_immune_disorders'
# new_column_names

In [199]:
# data.columns = new_column_names
# data.to_csv("assets/data/newDaly.csv", index=False)

In [118]:
# mydf.head()

In [119]:
# import folium

In [120]:
# map = folium.Map(location=[100, 0], zoom_start=1.5)

In [122]:
# map.choropleth(geo_data=country_geo, data=mydf,
#              columns=['Country', 'Maternal conditions'],
#              key_on='feature.properties.name',
#              fill_color='PuRd', fill_opacity=0.7, line_opacity=0.2)

In [123]:
# map.choropleth(geo_data=country_geo, data=mydf,
#              columns=['Country', 'Diabetes mellitus'],
#              key_on='feature.properties.name',
#              fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2)

In [124]:
# map.save('plot_data.html')

In [125]:
# mydf.replace('Russian Federation', 'Russia', inplace=True)

In [126]:
# mydf.replace('The former Yugoslav Republic of Macedonia', 'Macedonia', inplace=True)

In [127]:
# mydf.loc[mydf['Country'] == 'Russia']

In [171]:
data.head()

,Country,Infectious_and_parasitic_diseases,Respiratory_Infectious,Maternal_conditions,Neonatal_conditions,Nutritional_deficiencies,Malignant_neoplasms,Other_neoplasms,Diabetes_mellitus,Endocrine_blood_immune_disorders,...,Respiratory_diseases,Digestive_diseases,Genitourinary_diseases,Skin_diseases,Musculoskeletal_diseases,Congenital_anomalies,Oral_conditions,Sudden_infant_death_syndrome,Unintentional_injuries,Intentional_injuries
0,Afghanistan,2336.7,1424.9,225.3,3675.8,233.5,898.1,48.6,338.0,180.2,...,315.0,267.7,308.2,89.8,298.2,666.4,55.2,38.2,1329.8,2372.6
1,Albania,10.0,14.4,0.6,19.8,6.6,137.9,8.2,10.1,7.9,...,21.7,18.9,20.9,6.9,45.6,18.3,10.5,1.2,71.1,17.3
2,Algeria,460.0,461.5,62.0,1169.5,181.1,871.8,22.7,407.8,118.4,...,279.3,219.7,348.1,111.4,611.1,483.8,102.5,24.4,1023.3,195.5
3,Angola,5256.8,1866.6,214.4,2959.0,746.3,310.3,19.9,107.6,157.9,...,215.1,395.4,145.4,125.4,170.8,709.8,37.5,51.5,1277.6,287.8
4,Antigua and Barbuda,1.2,0.8,0.2,0.6,0.6,3.4,0.1,1.7,0.7,...,1.0,0.7,0.8,0.4,1.4,0.7,0.3,0.0,2.3,0.1

In [206]:
data['Cardiovascular_diseases'].max()

97208.2

In [172]:
keys = data.columns.values
print(keys)

['Country' 'Infectious_and_parasitic_diseases' 'Respiratory_Infectious'
 'Maternal_conditions' 'Neonatal_conditions' 'Nutritional_deficiencies'
 'Malignant_neoplasms' 'Other_neoplasms' 'Diabetes_mellitus'
 'Endocrine_blood_immune_disorders' 'Mental_and_substance_use_disorders'
 'Neurological_conditions' 'Sense_organ_diseases'
 'Cardiovascular_diseases' 'Respiratory_diseases' 'Digestive_diseases'
 'Genitourinary_diseases' 'Skin_diseases' 'Musculoskeletal_diseases'
 'Congenital_anomalies' 'Oral_conditions' 'Sudden_infant_death_syndrome'
 'Unintentional_injuries' 'Intentional_injuries']

In [181]:
def return_values(country):
    mydict = {}
    if ((data['Country'] == country).any()):
        myrow = data.loc[data['Country'] == country]
        for key in keys:
            mydict[key] = myrow.iloc[0,][key]
    else:
        for key in keys:
            mydict[key] = 0
    return(mydict)

In [183]:
return_values("blah")

{'Country': 0,
 'Infectious_and_parasitic_diseases': 0,
 'Respiratory_Infectious': 0,
 'Maternal_conditions': 0,
 'Neonatal_conditions': 0,
 'Nutritional_deficiencies': 0,
 'Malignant_neoplasms': 0,
 'Other_neoplasms': 0,
 'Diabetes_mellitus': 0,
 'Endocrine_blood_immune_disorders': 0,
 'Mental_and_substance_use_disorders': 0,
 'Neurological_conditions': 0,
 'Sense_organ_diseases': 0,
 'Cardiovascular_diseases': 0,
 'Respiratory_diseases': 0,
 'Digestive_diseases': 0,
 'Genitourinary_diseases': 0,
 'Skin_diseases': 0,
 'Musculoskeletal_diseases': 0,
 'Congenital_anomalies': 0,
 'Oral_conditions': 0,
 'Sudden_infant_death_syndrome': 0,
 'Unintentional_injuries': 0,
 'Intentional_injuries': 0}

In [163]:
# data.head()

In [193]:
import json

with open('assets/data/world-countries.json') as f:
    worldData = json.load(f)

# append health data to geojson object for each country
for feature in worldData['features']:
    country = feature['properties']['name']
    country_dict = return_values(country)
    for key in country_dict.keys():
        feature['properties'][key] = country_dict[key]

dict

In [247]:
# with open('Daly.geo.json', 'w') as fp:
#     json.dump(worldData, fp)

In [195]:
# jsonDf['features']

In [225]:
countryData = pd.read_csv('assets/data/population_and_codes.csv', encoding="ISO-8859-1")

In [226]:
countryData.head()

  Unnamed: 0  Population ('000) (2)
0        AFG                  34,656
1        ALB                   2,926
2        DZA                  40,606
3        AGO                  28,813
4        ATG                     101

In [227]:
countryData.shape

(183, 2)

In [228]:
data.shape

(183, 24)

In [229]:
# countryData.head()

In [255]:
newCountryData = data.join(countryData)

In [246]:
newCountryData.loc[data['Country'] == 'Serbia', ['Unnamed: 0']]

    Unnamed: 0
141        SRB

In [256]:
newCountryData.columns

Index(['Country', 'Infectious_and_parasitic_diseases',
       'Respiratory_Infectious', 'Maternal_conditions', 'Neonatal_conditions',
       'Nutritional_deficiencies', 'Malignant_neoplasms', 'Other_neoplasms',
       'Diabetes_mellitus', 'Endocrine_blood_immune_disorders',
       'Mental_and_substance_use_disorders', 'Neurological_conditions',
       'Sense_organ_diseases', 'Cardiovascular_diseases',
       'Respiratory_diseases', 'Digestive_diseases', 'Genitourinary_diseases',
       'Skin_diseases', 'Musculoskeletal_diseases', 'Congenital_anomalies',
       'Oral_conditions', 'Sudden_infant_death_syndrome',
       'Unintentional_injuries', 'Intentional_injuries', 'Unnamed: 0',
       ' Population ('000) (2) '],
      dtype='object')

In [257]:
newCountryData.rename(index=str, columns={"Unnamed: 0": "id", " Population ('000) (2) ": "Population"}, inplace=True)

In [259]:
newCountryData.to_csv("assets/data/newDaly.csv", index=False)

In [258]:
newCountryData.head()

,Country,Infectious_and_parasitic_diseases,Respiratory_Infectious,Maternal_conditions,Neonatal_conditions,Nutritional_deficiencies,Malignant_neoplasms,Other_neoplasms,Diabetes_mellitus,Endocrine_blood_immune_disorders,...,Genitourinary_diseases,Skin_diseases,Musculoskeletal_diseases,Congenital_anomalies,Oral_conditions,Sudden_infant_death_syndrome,Unintentional_injuries,Intentional_injuries,id,Population
0,Afghanistan,2336.7,1424.9,225.3,3675.8,233.5,898.1,48.6,338.0,180.2,...,308.2,89.8,298.2,666.4,55.2,38.2,1329.8,2372.6,AFG,"34,656"
1,Albania,10.0,14.4,0.6,19.8,6.6,137.9,8.2,10.1,7.9,...,20.9,6.9,45.6,18.3,10.5,1.2,71.1,17.3,ALB,"2,926"
2,Algeria,460.0,461.5,62.0,1169.5,181.1,871.8,22.7,407.8,118.4,...,348.1,111.4,611.1,483.8,102.5,24.4,1023.3,195.5,DZA,"40,606"
3,Angola,5256.8,1866.6,214.4,2959.0,746.3,310.3,19.9,107.6,157.9,...,145.4,125.4,170.8,709.8,37.5,51.5,1277.6,287.8,AGO,"28,813"
4,Antigua and Barbuda,1.2,0.8,0.2,0.6,0.6,3.4,0.1,1.7,0.7,...,0.8,0.4,1.4,0.7,0.3,0.0,2.3,0.1,ATG,101

In [261]:
int('34,656')

ValueError: invalid literal for int() with base 10: '34,656'